@charset "UTF-8";
/* sub03_tab01.css */
/* 가상클래스 불러오기 @extend %hidden */
/*#wrap{width: 100%; height: auto;}*/
#wrap {
  width: 100%;
  height: auto; }

#wrap > * {
  margin: 0 auto; }

@media screen and (max-width: 679px) {
  /* PhotoShop 360px 기준 */
  header {
    width: 89%;
    height: 11.1vw;
    /*40px*/
    padding: 1.38vw 5.5vw;
    /*5px 20px*/
    position: fixed;
    background-color: #ba1822;
    border-bottom: 1px solid #222222; }
    header > #headBox {
      width: 100%;
      height: 11.1vw;
      /*40px*/ }
  #banner {
    display: none; }
  /*------------small box--------------------*/
  h1 {
    width: 11.6%;
    /*42px*/
    height: 11.1vw;
    /*40px*/
    position: absolute;
    z-index: 300;
    margin-left: 38.8%;
    /*140px*/
    font-size: 0; }
    h1 > a {
      width: 100%;
      height: 100%;
      display: block;
      background-image: url("../img/all/header/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
  #headBox > #gnb {
    width: 89%;
    /*320px*/
    height: 13.8vw;
    /*50px*/
    padding-top: 1.9vw;
    /*7px*/
    position: absolute;
    z-index: 200; }
    #headBox > #gnb > h2 {
      width: 8.3%;
      /*30px*/
      height: 7.2vw;
      /*26px*/
      float: left; }
      #headBox > #gnb > h2 > i {
        width: 100%;
        height: 100%;
        font-size: 7.5vw;
        /*1.7rem*/
        display: block;
        color: #ffffff;
        text-align: center; }
      #headBox > #gnb > h2 > span {
        width: 0;
        height: 0;
        display: block;
        overflow: hidden; }
    #headBox > #gnb > #snsBox {
      width: 44.4%;
      /*160px*/
      height: 8.3vw;
      /*30px*/
      float: left;
      margin-top: 97.2vw;
      /*300px*/
      margin-left: -5.5%;
      position: absolute;
      z-index: 500;
      padding: 0 13.9%;
      /*0 50px*/
      left: -100%; }
      #headBox > #gnb > #snsBox > li {
        width: 25%;
        /*40px*/
        height: 100%;
        margin-right: 12%;
        /*20px*/
        float: left; }
        #headBox > #gnb > #snsBox > li.round {
          display: none; }
        #headBox > #gnb > #snsBox > li.navercafe {
          margin-right: 0; }
        #headBox > #gnb > #snsBox > li.facebook > a {
          background-image: url("../img/all/header/sns_01.png"); }
        #headBox > #gnb > #snsBox > li.youtube > a {
          background-image: url("../img/all/header/sns_02.png"); }
        #headBox > #gnb > #snsBox > li.navercafe > a {
          background-image: url("../img/all/header/sns_03.png"); }
        #headBox > #gnb > #snsBox > li > a {
          width: 75%;
          /*30px*/
          height: 100%;
          padding: 0 12.5%;
          /*0 5px*/
          background-size: contain; }
          #headBox > #gnb > #snsBox > li > a > span {
            width: 0;
            height: 0;
            display: block;
            overflow: hidden; }
    #headBox > #gnb > #searchBox {
      width: 8.3%;
      /*30px*/
      height: 7.2vw;
      /*26px*/
      float: right; }
      #headBox > #gnb > #searchBox > button {
        width: 100%;
        height: 100%;
        background-color: transparent; }
        #headBox > #gnb > #searchBox > button > span {
          width: 0;
          height: 0;
          display: block;
          font-size: 0; }
        #headBox > #gnb > #searchBox > button > i {
          width: 100%;
          height: 100%;
          font-size: 7.5vw;
          /*1.7rem*/
          color: #ffffff;
          text-align: center; }
    #headBox > #gnb > #sitemebBox {
      width: 72.2%;
      /*260px*/
      height: 8.3vw;
      /*30px*/
      float: left;
      margin-top: 111.1vw;
      /*400px*/
      margin-left: -5.5%;
      position: absolute;
      z-index: 500;
      left: -100%; }
      #headBox > #gnb > #sitemebBox > li {
        width: 38.4%;
        /*100px*/
        height: 100%;
        padding-left: 7.7%;
        /*20px*/
        padding-right: 3.84%;
        /*10px*/
        float: left; }
        #headBox > #gnb > #sitemebBox > li:nth-child(2) {
          width: 0;
          height: 0;
          display: none;
          overflow: hidden;
          font-size: 0; }
        #headBox > #gnb > #sitemebBox > li:last-child {
          padding-left: 3.84%;
          /*10px*/
          padding-right: 7.7%;
          /*20px*/ }
        #headBox > #gnb > #sitemebBox > li > a {
          width: 100%;
          height: 100%;
          display: block;
          font-size: 5.8vw;
          /*1.3rem*/
          text-align: center;
          border-radius: 5%;
          background-color: #bdc4c4; }
    #headBox > #gnb > #mainBox {
      width: 72.2%;
      /*260px*/
      height: 416.4vw;
      /*1500px*/
      background-color: #ffffff;
      float: left;
      margin-top: -3.28vw;
      /*10px*/
      margin-left: -6.25%;
      /*20px*/
      position: absolute;
      z-index: 300;
      left: -100%; }
      #headBox > #gnb > #mainBox > li {
        width: 80%;
        /*208px*/
        height: auto;
        /*50px*/
        padding: 10% 10% 0;
        /* 0 26px */ }
        #headBox > #gnb > #mainBox > li.endBox {
          height: 2%; }
        #headBox > #gnb > #mainBox > li > i {
          width: 11%;
          /*22.8px*/
          height: 100%;
          font-size: 6.6vw;
          /*1.5rem*/
          text-align: center;
          color: #111111;
          display: block;
          float: right;
          margin-top: 5%; }
        #headBox > #gnb > #mainBox > li > a {
          width: 100%;
          height: 9.23vw;
          /*24px*/
          font-size: 6.6vw;
          /*1.5rem*/
          color: #111111; }
          #headBox > #gnb > #mainBox > li > a:hover {
            border-bottom: 2px solid #ba1822; }
        #headBox > #gnb > #mainBox > li > .sub_menu {
          width: 100%;
          height: auto; }
          #headBox > #gnb > #mainBox > li > .sub_menu > li {
            width: 100%;
            height: 6.9vw;
            /*25px*/
            font-size: 4.4vw;
            /*1rem*/ }
  /* PhotoShop 360px 기준 */
  #nav {
    display: none; }
  #nav_mobile {
    width: 88.8vw;
    /*320px*/
    height: 13.8vw;
    /*50px*/
    padding-top: 16.6vw;
    /*60px*/
    padding-left: 5.5vw;
    /*20px*/
    border-bottom: 2px solid #bdc4c4; }
    #nav_mobile > h2 {
      width: 27.7vw;
      /*100px*/
      height: 5.5vw;
      /*20px*/
      margin-top: 4.1vw;
      /*15px*/
      float: left;
      font-size: 4.4vw;
      /*1rem*/
      font-weight: bold;
      color: #ba1822; }
    #nav_mobile > ul {
      width: calc(100% - 27.7vw);
      height: 5.5vw;
      /*20px*/
      margin-top: 4.1vw;
      /*15px*/
      float: left; }
      #nav_mobile > ul > li {
        width: 16.6vw;
        /*60px*/
        height: 5.5vw;
        /*20px*/
        margin-left: 2.7vw;
        /*10px*/
        float: left;
        font-size: 3.5vw;
        /*0.8rem*/
        line-height: 170%; }
        #nav_mobile > ul > li.map_box {
          margin-left: 0;
          font-weight: bold;
          color: #ba1822; }
  /* dolce_sub01_article.css */
  #section {
    display: none; }
  #section_mobile {
    width: 94.4vw;
    /*340px*/
    height: 166.6vw;
    /*600px*/ }
    #section_mobile > #selectBox {
      width: 100%;
      height: 100%;
      padding-top: 5.5vw;
      /*20px*/ }
      #section_mobile > #selectBox > p {
        width: 22.2vw;
        /*80px*/
        height: 8.3vw;
        /*30px*/
        float: left;
        font-size: 5.3vw;
        /*1.2rem*/
        font-weight: bold;
        text-align: center;
        line-height: 200%; }
      #section_mobile > #selectBox > .select_list {
        width: 55.5vw;
        /*200px*/
        height: 8.3vw;
        /*30px*/
        float: left; }
        #section_mobile > #selectBox > .select_list > li {
          width: 100%;
          height: 100%;
          background-color: #ffffff; }
          #section_mobile > #selectBox > .select_list > li > a {
            font-size: 5.3vw;
            /*1.2rem*/
            color: #222222;
            font-weight: bold;
            text-align: center;
            line-height: 200%;
            text-decoration: none; }
      #section_mobile > #selectBox > span {
        width: 11.1vw;
        /*40px*/
        height: 8.3vw;
        /*30px*/
        display: block;
        float: left; }
        #section_mobile > #selectBox > span > i {
          font-size: 6.6vw;
          /*1.5rem*/
          transform: rotate(90deg);
          margin-top: 1.3vw;
          /*5px*/ }
      #section_mobile > #selectBox > .table_box {
        width: 100%;
        height: 166.6vw;
        /*600px*/
        padding-top: 13.8vw;
        /*50px*/ }
        #section_mobile > #selectBox > .table_box::before {
          content: " ";
          display: block;
          clear: both; }
        #section_mobile > #selectBox > .table_box::after {
          content: " ";
          display: block;
          clear: both; }
        #section_mobile > #selectBox > .table_box > ul {
          width: calc(100% - 11.1vw);
          height: 27.7vw;
          /*100px*/
          margin-top: 5.5vw;
          /*20px*/
          padding: 0 5.5vw;
          /*20px*/
          border-bottom: 2px solid #aaa; }
          #section_mobile > #selectBox > .table_box > ul > li {
            width: 100%;
            height: 5.5vw;
            /*20px*/
            font-size: 4.4vw;
            /*1rem*/ }
            #section_mobile > #selectBox > .table_box > ul > li:first-child {
              font-size: 4.8vw;
              /*1.1rem*/
              font-weight: bold; }
            #section_mobile > #selectBox > .table_box > ul > li:nth-child(2) {
              height: 11.1vw;
              /*40px*/ }
            #section_mobile > #selectBox > .table_box > ul > li:nth-child(3) {
              width: 41.6vw;
              /*150px*/
              float: left; }
            #section_mobile > #selectBox > .table_box > ul > li.more_box {
              width: 22.2vw;
              /*80px*/
              height: 8.3vw;
              /*30px*/
              float: right;
              background-color: #ba1822;
              border-radius: 5px;
              font-size: 4.4vw;
              /*1rem*/
              line-height: 200%;
              text-align: center;
              color: #ffffff; }
  /* Photoshop 360px */
  #footer {
    width: 86%;
    /*310px*/
    height: 20vw;
    /*140px*/
    background-color: #2f2b2a;
    padding: 8.3vw 7% 8.3vw;
    /*30px 25px 30px*/
    overflow: hidden; }
    #footer > #footBox {
      width: 100%;
      height: 39vw;
      /*140px*/ }
      #footer > #footBox > div > span {
        width: 0;
        height: 0;
        display: block;
        font-size: 0; }
  /*------------small box--------------------*/
  #footBox > #nestleImg {
    width: 100%;
    height: 50%;
    background-image: url("../img/all/footer/nestle_white.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  #footBox > #persnal {
    display: none; }
  #footBox > #footAll {
    display: none; }
  #footBox > #footImg {
    display: none; } }

@media screen and (min-width: 680px) and (max-width: 959px) {
  /* PhotoShop 768px 기준 */
  header {
    width: 100%;
    height: 12.3vw;
    /*108px*/
    position: fixed;
    z-index: 1000;
    background-color: #ba1822;
    border-bottom: 1px solid #222222;
    box-sizing: border-box; }
    header > #headBox {
      width: 87.5%;
      /*675px*/
      height: 10.5vw;
      /*94px*/
      padding: 1.3vw 6.25% 0.5vw;
      /*4px*/ }
  /*------------small box--------------------*/
  h1 {
    width: 10.6%;
    /*82px*/
    height: 10.4vw;
    /*80px*/
    margin-left: 39%;
    /*300px*/
    background-image: url("../img/all/header/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 0;
    position: absolute;
    z-index: 300; }
  #gnb {
    width: 87.5%;
    /*675px*/
    height: 3vw;
    /*23px*/
    /*background-color:darkcyan; */
    position: absolute;
    z-index: 200;
    margin-top: 3.6vw;
    /*28px*/ }
    #gnb > h2 {
      width: 6%;
      /*40.5px*/
      height: 100%;
      /*23px*/
      float: left; }
      #gnb > h2 > i {
        font-size: 3vw;
        /*1.43rem*/
        color: #ffffff;
        float: left; }
      #gnb > h2 > span {
        width: 19.1%;
        /*9px*/
        height: 34.7%;
        /*8px*/
        display: block;
        float: left;
        margin-left: 29.6%;
        /*12px*/
        margin-top: 1.1vw;
        /*8px*/
        background-color: #ffffff;
        border-radius: 50%; }
    #gnb > #snsBox {
      width: 44.4%;
      /*300px*/
      height: 6vw;
      /*40px*/
      float: left;
      margin-top: 66.7%;
      /*450px*/
      position: absolute;
      z-index: 500;
      left: -100%; }
      #gnb > #snsBox > li {
        width: 13.3%;
        /*40px*/
        height: 100%;
        margin-right: 13.3%;
        /*40px*/
        float: left; }
        #gnb > #snsBox > li.round {
          display: none; }
        #gnb > #snsBox > li:last-child {
          margin-right: 0; }
        #gnb > #snsBox > li.facebook > a {
          background-image: url("../img/all/header/sns_01.png"); }
        #gnb > #snsBox > li.youtube > a {
          background-image: url("../img/all/header/sns_02.png"); }
        #gnb > #snsBox > li.navercafe > a {
          background-image: url("../img/all/header/sns_03.png"); }
        #gnb > #snsBox > li > a {
          width: 75%;
          /*30px*/
          height: 100%;
          padding: 0 12.5%;
          /*0 5px*/
          background-size: contain; }
          #gnb > #snsBox > li > a > span {
            width: 0;
            height: 0;
            display: block;
            overflow: hidden; }
    #gnb > #searchBox {
      width: 6.1vw;
      /*47px*/
      height: 100%;
      /*23px*/
      float: left; }
      #gnb > #searchBox > button {
        width: 100%;
        height: 100%;
        background-color: transparent; }
        #gnb > #searchBox > button > span {
          width: 0;
          height: 0;
          display: none;
          overflow: hidden; }
        #gnb > #searchBox > button > i {
          font-size: 3vw;
          /*1.43rem*/
          color: #ffffff; }
    #gnb > #sitemebBox {
      width: 14.8%;
      /*100px*/
      height: 56.5%;
      /*13px*/
      margin-top: 0.3vw;
      /*2px*/
      float: right; }
      #gnb > #sitemebBox > li {
        height: 100%;
        margin-right: 10%;
        /*10px*/
        float: left; }
        #gnb > #sitemebBox > li:nth-child(1) {
          width: 35%;
          /*35px*/ }
        #gnb > #sitemebBox > li:nth-child(2) {
          width: 8%;
          /* 8px*/ }
        #gnb > #sitemebBox > li:nth-child(2) > span {
          width: 100%;
          /*9px*/
          height: 61.5%;
          /*8px*/
          display: block;
          float: left;
          font-size: 0;
          margin-top: 0.8vw;
          /*4px*/
          background-color: #ffffff;
          border-radius: 50%; }
        #gnb > #sitemebBox > li:nth-child(3) {
          width: 30%;
          /*30px*/
          margin-right: 0; }
        #gnb > #sitemebBox > li > a {
          width: 100%;
          height: 100%;
          display: block;
          font-size: 1.875vw;
          /*0.9rem*/
          color: #ffffff;
          text-align: center; }
    #gnb > #mainBox {
      width: 44.4%;
      /*300px*/
      height: 195vw;
      /*1500px*/
      background-color: #ffffff;
      float: left;
      overflow: scroll;
      margin-top: -4.9vw;
      /*33px*/
      margin-left: -7.1%;
      /*48px*/
      position: absolute;
      z-index: 300;
      left: -100%; }
      #gnb > #mainBox > li {
        width: 86.7%;
        /*260px*/
        height: auto;
        /*60px*/
        padding: 5% 10%;
        /*25px 20px*/ }
        #gnb > #mainBox > li > i {
          width: 11%;
          /*33px*/
          height: 100%;
          /*14px*/
          font-size: 3.125vw;
          /*1.5rem*/
          text-align: center;
          color: #111111;
          display: block;
          float: right; }
        #gnb > #mainBox > li > a {
          width: 90%;
          height: 40%;
          /*24px*/
          font-size: 3.125vw;
          /*1.5rem*/
          color: #111111; }
          #gnb > #mainBox > li > a:hover {
            border-bottom: 2px solid #ba1822;
            box-sizing: border-box; }
        #gnb > #mainBox > li > .sub_menu {
          width: 100%;
          height: auto;
          padding-top: 5%; }
  /* PhotoShop 768px 기준 */
  #nav {
    width: 87.2vw;
    /*670px*/
    height: 11.7vw;
    /*90px*/
    padding-top: 15.625vw;
    /*120px*/
    border-bottom: 2px solid #bdc4c4; }
    #nav > h2 {
      width: 13vw;
      /*100px*/
      height: 3.2vw;
      /*25px*/
      margin-top: 4.5vw;
      /*35px*/
      float: left;
      font-size: 2.5vw;
      /*1.2rem*/
      font-weight: bold;
      color: #ba1822; }
    #nav > ul {
      width: calc(100% - 13vw);
      height: 3.2vw;
      /*25px*/
      margin-top: 4.5vw;
      /*35px*/
      float: left; }
      #nav > ul > li {
        width: 6.5vw;
        /*50px*/
        height: 3.2vw;
        /*25px*/
        margin-left: 2.3vw;
        /*18px*/
        float: left;
        font-size: 1.6vw;
        /*0.8rem*/
        line-height: 200%; }
        #nav > ul > li.map_box {
          font-weight: bold;
          color: #ba1822; }
  #nav_mobile {
    display: none; }
  /* dolce_sub01_article.css */
  #section {
    width: 87.2vw;
    /*670px*/
    height: 98.3vw;
    /*755px*/
    padding-top: 5.2vw;
    /*40px*/ }
    #section > #maps {
      width: 100%;
      height: 41.9vw;
      /*322px*/ }
    #section > #map_text {
      width: 100%;
      height: 42.7vw;
      /*328px*/
      margin-top: 5.8vw;
      /*45px*/ }
  #section_mobile {
    display: none; }
  /* big maps */
  #maps > div {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center; }
  #maps > #map_all {
    width: 28.7vw;
    /*220px*/
    float: left;
    background-image: url("../img/sub03_tab02/map_all.png");
    background-size: 110%;
    background-color: #bdc4c4;
    border-top-left-radius: 1.3vw;
    /*10px*/
    border-bottom-left-radius: 1.3vw;
    /*10px*/
    font-size: 0; }
  #maps > #map_mini {
    width: 58.5vw;
    /*450px*/
    float: right;
    background-image: url("../img/sub03_tab02/map_mini.png");
    background-size: 65%;
    border: 2px solid #ba1822;
    border-top-right-radius: 1.3vw;
    /*10px*/
    border-bottom-right-radius: 1.3vw;
    /*10px*/
    box-sizing: border-box;
    background-position: 70% center; }
    #maps > #map_mini > h3 {
      width: 26.7vw;
      /*205px*/
      height: 5.7vw;
      /*44px*/
      font-size: 2.5vw;
      /*1.2rem*/
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 40.3vw;
      /*310px*/
      margin-left: 41.6vw;
      /*320px*/ }
    #maps > #map_mini > ul {
      width: 100%;
      height: 100%;
      position: relative; }
      #maps > #map_mini > ul > li {
        width: 1.95vw;
        /*15px*/
        height: 2.6vw;
        /*20px*/
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/sub03_tab02/map_point.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }
        #maps > #map_mini > ul > li > button {
          width: 100%;
          height: 100%;
          font-size: 0;
          background-color: transparent;
          cursor: pointer; }
  /* map pointer space */
  .point_01 {
    margin-top: 11vw;
    /*85px*/
    margin-left: 28.6vw;
    /*220px*/ }
  .point_02 {
    margin-top: 8.5vw;
    /*65px*/
    margin-left: 39vw;
    /*300px*/ }
  .point_03 {
    margin-top: 9.7vw;
    /*75px*/
    margin-left: 40.3vw;
    /*310px*/ }
  .point_04 {
    margin-top: 18.2vw;
    /*140px*/
    margin-left: 29.2vw;
    /*224px*/ }
  .point_05 {
    margin-top: 19.5vw;
    /*150px*/
    margin-left: 27vw;
    /*208px*/ }
  .point_06 {
    margin-top: 15.625vw;
    /*120px*/
    margin-left: 36.4vw;
    /*280px*/ }
  .point_07 {
    margin-top: 16.5vw;
    /*127px*/
    margin-left: 35.1vw;
    /*270px*/ }
  .point_08 {
    margin-top: 17.5vw;
    /*135px*/
    margin-left: 33.8vw;
    /*260px*/ }
  .point_09 {
    margin-top: 20.1vw;
    /*155px*/
    margin-left: 31.25vw;
    /*240px*/ }
  .point_10 {
    margin-top: 22.1vw;
    /*170px*/
    margin-left: 33.2vw;
    /*255px*/ }
  .point_11 {
    margin-top: 20.8vw;
    /*160px*/
    margin-left: 34.5vw;
    /*265px*/ }
  .point_12 {
    margin-top: 15.625vw;
    /*120px*/
    margin-left: 41vw;
    /*315px*/ }
  .point_13 {
    margin-top: 20.8vw;
    /*160px*/
    margin-left: 41.6vw;
    /*320px*/ }
  .point_14 {
    margin-top: 20.83vw;
    /*160px*/
    margin-left: 39.7vw;
    /*305px*/ }
  .point_15 {
    margin-top: 24vw;
    /*185px*/
    margin-left: 37.1vw;
    /*285px*/ }
  .point_16 {
    margin-top: 24.7vw;
    /*190px*/
    margin-left: 39vw;
    /*300px*/ }
  /* table & real maps */
  #map_text > #shoptable {
    width: 52vw;
    /*400px*/
    height: 100%;
    /*328px*/
    float: left; }
    #map_text > #shoptable > #shopinfo_01 {
      width: 100%;
      height: 100%; }
      #map_text > #shoptable > #shopinfo_01 > table {
        width: 100%;
        height: 100%;
        border-spacing: 0;
        border-collapse: collapse; }
        #map_text > #shoptable > #shopinfo_01 > table > tbody {
          width: 100%;
          height: 100%; }
          #map_text > #shoptable > #shopinfo_01 > table > tbody > tr {
            width: 100%;
            height: 20%;
            border-bottom: 2px solid #bdc4c4;
            border-top: 2px solid #bdc4c4; }
            #map_text > #shoptable > #shopinfo_01 > table > tbody > tr > th {
              width: 30%;
              text-align: center;
              font-size: 2vw;
              /*1rem*/
              padding: 2.6vw 0; }
            #map_text > #shoptable > #shopinfo_01 > table > tbody > tr > td {
              width: 70%;
              text-align: center;
              font-size: 2vw;
              /*1rem*/
              padding: 2.6vw 0;
              border-left: 2px dotted #bdc4c4; }
            #map_text > #shoptable > #shopinfo_01 > table > tbody > tr:nth-child(2) > td {
              padding: 1.3vw 0; }
  #map_text > #map_wrap {
    width: 32.5vw;
    /*250px*/
    height: 100%;
    float: right;
    position: relative; }
    #map_text > #map_wrap > h3 {
      width: calc(100% - 2.6vw);
      height: 6.25vw;
      /*48px*/
      background-color: #ba1822;
      padding-left: 2.6vw;
      /*20px*/
      font-size: 2.5vw;
      /*1.2rem*/
      line-height: 250%;
      font-weight: bold;
      color: #ffffff; }
    #map_text > #map_wrap > div {
      width: 100%;
      height: 36.4vw;
      /*280px*/
      font-size: 0;
      background-image: url("../img/sub03_tab02/real_map.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    #map_text > #map_wrap > button {
      width: 10.4vw;
      /*80px*/
      height: 3.2vw;
      /*25px*/
      background-color: #bdc4c4;
      position: absolute;
      z-index: 200;
      bottom: 0;
      right: 0;
      margin-bottom: 2.6vw;
      /*20px*/
      margin-right: 2.6vw;
      /*20px*/
      border-radius: 0.6vw;
      /*5px*/
      font-size: 1.6vw;
      /*0.8rem*/
      font-weight: bold;
      box-shadow: 1px 1px 5px #222222; }
  /* PhotoShop 768px 기준 */
  #footer {
    width: 85.9375vw;
    /*660px*/
    height: 13vw;
    /*100px*/
    padding: 3.9vw 7vw;
    /*30px 54px*/
    background-color: #2f2b2a; }
    #footer > #footBox {
      width: 100%;
      height: 100%; }
      #footer > #footBox > div > span {
        width: 0;
        height: 0;
        display: block;
        font-size: 0; }
  /*------------small box--------------------*/
  #footBox > #nestleImg {
    width: 20.8vw;
    /*160px*/
    height: 13vw;
    /*100px*/
    float: left;
    background-image: url("../img/all/footer/nestle_white.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
  #footBox > #persnal {
    width: 60.3vw;
    /*463px*/
    height: 10.4vw;
    /*80px*/
    margin-top: 2.6vw;
    /*20px*/
    float: right; }
    #footBox > #persnal > li {
      height: 100%;
      float: left; }
      #footBox > #persnal > li:nth-child(1) {
        width: 20vw;
        /*154px*/ }
      #footBox > #persnal > li:nth-child(3) {
        width: 8.6vw;
        /*66px*/ }
      #footBox > #persnal > li:nth-child(5) {
        width: 16.5vw;
        /*127px*/ }
      #footBox > #persnal > li:nth-child(7) {
        width: 8.6vw;
        /*66px*/ }
      #footBox > #persnal > li > a {
        width: 100%;
        font-size: 2vw;
        /*1rem*/
        line-height: 380%;
        color: #bdc4c4;
        font-weight: bold;
        float: left; }
    #footBox > #persnal > .dott {
      width: 0.5vw;
      /*4px*/
      height: 0.5vw;
      /*4px*/
      padding: 3.6vw 0.39vw;
      /*28px 3px*/
      margin-right: 0.91vw;
      /*7px*/
      float: left; }
      #footBox > #persnal > .dott > span {
        width: 0.5vw;
        /*4px*/
        height: 0.5vw;
        /*4px*/
        border-radius: 50%;
        background-color: #bdc4c4;
        display: block;
        font-size: 0;
        float: left; }
  #footBox > #footAll {
    display: none; }
  #footBox > #footImg {
    display: none; } }

@media screen and (min-width: 960px) {
  /* PhotoShop 1400px 기준 */
  header {
    width: 100%;
    height: 170px;
    background-color: #ffffff;
    border-bottom: 10px solid #ba1822;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    overflow: hidden; }
    header > #headBox {
      width: 860px;
      height: 140px;
      padding: 10px 50px 0 50px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -480px;
      display: block;
      overflow: hidden; }
  /*------------small box--------------------*/
  header > #headBox > h1 {
    width: 90px;
    height: 90px;
    background-image: url("../img/all/header/logo.png");
    margin-top: 20px;
    position: absolute;
    z-index: 500;
    left: 50%;
    margin-left: -45px;
    font-size: 0; }
    header > #headBox > h1 > a {
      width: 100%;
      height: 100%;
      display: block; }
  header > #headBox > #gnb {
    width: 860px;
    height: 106px; }
    header > #headBox > #gnb > h2 {
      width: 0;
      height: 0;
      display: block;
      overflow: hidden; }
      header > #headBox > #gnb > h2 > * {
        display: none; }
    header > #headBox > #gnb > #snsBox {
      width: 92px;
      height: 20px;
      float: left; }
      header > #headBox > #gnb > #snsBox > li {
        width: 18px;
        height: 100%;
        float: left;
        margin-right: 5px; }
        header > #headBox > #gnb > #snsBox > li.round {
          width: 4px;
          height: 4px;
          background-color: #bdc4c4;
          border-radius: 50%;
          font-size: 0;
          margin-top: 8px; }
        header > #headBox > #gnb > #snsBox > li:last-child {
          margin-right: 0; }
        header > #headBox > #gnb > #snsBox > li:nth-child(1) > a {
          background-image: url("../img/all/header/sns_01.png"); }
        header > #headBox > #gnb > #snsBox > li:nth-child(3) > a {
          background-image: url("../img/all/header/sns_02.png"); }
        header > #headBox > #gnb > #snsBox > li:nth-child(5) > a {
          background-image: url("../img/all/header/sns_03.png"); }
        header > #headBox > #gnb > #snsBox > li > a {
          background-size: contain; }
        header > #headBox > #gnb > #snsBox > li > span {
          width: 0;
          height: 0;
          display: block;
          overflow: hidden; }
    header > #headBox > #gnb > #searchBox {
      width: 100px;
      height: 18px;
      float: left;
      border-bottom: 2px solid #bdc4c4;
      margin-left: 5px;
      padding-top: 2px; }
      header > #headBox > #gnb > #searchBox > button {
        width: 100%;
        height: 100%;
        background-color: transparent; }
        header > #headBox > #gnb > #searchBox > button > span {
          font-size: 0.75rem;
          color: #bdc4c4;
          float: left; }
        header > #headBox > #gnb > #searchBox > button > i {
          font-size: 0.75rem;
          /*22px*/
          color: #bdc4c4;
          float: right; }
    header > #headBox > #gnb > #sitemebBox {
      width: 100px;
      height: 10px;
      float: right;
      padding-top: 5px; }
      header > #headBox > #gnb > #sitemebBox > li {
        height: 100%;
        float: left;
        margin-right: 5px; }
        header > #headBox > #gnb > #sitemebBox > li:nth-child(1) {
          width: 40px; }
        header > #headBox > #gnb > #sitemebBox > li:nth-child(2) {
          width: 5px;
          height: 5px;
          margin-top: 8px; }
        header > #headBox > #gnb > #sitemebBox > li:nth-child(2) > span {
          width: 100%;
          height: 100%;
          background-color: #bdc4c4;
          display: block;
          border-radius: 50%;
          font-size: 0; }
        header > #headBox > #gnb > #sitemebBox > li:nth-child(3) {
          width: 45px;
          margin-right: 0; }
        header > #headBox > #gnb > #sitemebBox > li > a {
          width: 100%;
          height: 100%;
          display: block;
          font-size: 1rem;
          color: #222222; }
    header > #headBox > #gnb > #mainBox {
      width: 735px;
      height: 150px;
      float: left;
      margin-top: 84px;
      /*margin-left:-1px;*/
      padding: 5px 82px 0; }
      header > #headBox > #gnb > #mainBox > li {
        height: 30px;
        float: left; }
        header > #headBox > #gnb > #mainBox > li:nth-child(2) {
          width: 53px;
          margin-right: 100px; }
        header > #headBox > #gnb > #mainBox > li:nth-child(3) {
          width: 72px;
          margin-right: 260px; }
        header > #headBox > #gnb > #mainBox > li:nth-child(4) {
          width: 64px;
          margin-left: -20px; }
        header > #headBox > #gnb > #mainBox > li:nth-child(5) {
          width: 138px;
          float: right; }
        header > #headBox > #gnb > #mainBox > li > i {
          width: 0;
          height: 0;
          display: block;
          overflow: hidden; }
        header > #headBox > #gnb > #mainBox > li > a {
          font-size: 1.25rem;
          color: #222222; }
          header > #headBox > #gnb > #mainBox > li > a.red {
            color: #ba1822; }
        header > #headBox > #gnb > #mainBox > li > .sub_menu {
          width: 100%;
          height: auto;
          /*padding-top:5px;*/ }
          header > #headBox > #gnb > #mainBox > li > .sub_menu > li {
            width: 100%;
            height: auto; }
  #nav {
    width: 815px;
    height: 90px;
    padding-left: 45px;
    padding-top: 204px;
    border-bottom: 2px solid #bdc4c4; }
    #nav > h2 {
      width: 100px;
      height: 25px;
      margin-top: 35px;
      float: left;
      font-size: 1.2rem;
      font-weight: bold;
      color: #ba1822; }
    #nav > ul {
      width: calc(100% - 100px);
      height: 25px;
      margin-top: 35px;
      float: left; }
      #nav > ul > li {
        width: 80px;
        height: 25px;
        margin-left: 18px;
        float: left; }
        #nav > ul > li > a {
          font-size: 0.8rem;
          line-height: 200%; }
        #nav > ul > li.ask_box {
          width: 80px; }
          #nav > ul > li.ask_box > a {
            font-weight: bold;
            color: #ba1822; }
        #nav > ul > li.answer_box {
          width: 100px; }
  #nav_mobile {
    display: none; }
  /* dolce_sub01_article.css */
  #section {
    width: 815px;
    height: 755px;
    padding-top: 40px; }
    #section > #maps {
      width: 100%;
      height: 322px; }
    #section > #map_text {
      width: 100%;
      height: 328px;
      margin-top: 45px; }
  #section_mobile {
    display: none; }
  /* big maps */
  #maps > div {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center; }
  #maps > #map_all {
    width: 270px;
    float: left;
    background-image: url("../img/sub03_tab02/map_all.png");
    background-size: 110%;
    background-color: #bdc4c4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 0; }
  #maps > #map_mini {
    width: 545px;
    float: right;
    background-image: url("../img/sub03_tab02/map_mini.png");
    background-size: 65%;
    border: 2px solid #ba1822;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    background-position: 70% center;
    position: relative; }
    #maps > #map_mini > h3 {
      width: 205px;
      height: 44px;
      font-size: 1.2rem;
      font-weight: bold;
      position: absolute;
      z-index: 500;
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -190px; }
    #maps > #map_mini > ul {
      width: 100%;
      height: 100%;
      position: relative; }
      #maps > #map_mini > ul > li {
        width: 15px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/sub03_tab02/map_point.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }
        #maps > #map_mini > ul > li > button {
          width: 100%;
          height: 100%;
          font-size: 0;
          background-color: transparent;
          cursor: pointer; }
  /* map pointer space */
  .point_01 {
    margin-top: 75px;
    margin-left: 260px; }
  .point_02 {
    margin-top: 55px;
    margin-left: 365px; }
  .point_03 {
    margin-top: 65px;
    margin-left: 375px; }
  .point_04 {
    margin-top: 140px;
    margin-left: 274px; }
  .point_05 {
    margin-top: 150px;
    margin-left: 258px; }
  .point_06 {
    margin-top: 125px;
    margin-left: 340px; }
  .point_07 {
    margin-top: 132px;
    margin-left: 330px; }
  .point_08 {
    margin-top: 140px;
    margin-left: 320px; }
  .point_09 {
    margin-top: 165px;
    margin-left: 295px; }
  .point_10 {
    margin-top: 180px;
    margin-left: 310px; }
  .point_11 {
    margin-top: 170px;
    margin-left: 320px; }
  .point_12 {
    margin-top: 130px;
    margin-left: 385px; }
  .point_13 {
    margin-top: 170px;
    margin-left: 390px; }
  .point_14 {
    margin-top: 173px;
    margin-left: 375px; }
  .point_15 {
    margin-top: 195px;
    margin-left: 355px; }
  .point_16 {
    margin-top: 200px;
    margin-left: 370px; }
  /* table & real maps */
  #map_text > #shoptable {
    width: 520px;
    height: 100%;
    /*328px*/
    float: left; }
    #map_text > #shoptable > #shopinfo_01 {
      width: 100%;
      height: 100%; }
      #map_text > #shoptable > #shopinfo_01 > table {
        width: 100%;
        height: 100%;
        border-spacing: 0;
        border-collapse: collapse; }
        #map_text > #shoptable > #shopinfo_01 > table > tbody {
          width: 100%;
          height: 100%; }
          #map_text > #shoptable > #shopinfo_01 > table > tbody > tr {
            width: 100%;
            height: 20%;
            border-bottom: 2px solid #bdc4c4;
            border-top: 2px solid #bdc4c4; }
            #map_text > #shoptable > #shopinfo_01 > table > tbody > tr > th {
              width: 30%;
              text-align: center;
              padding: 20px 0; }
            #map_text > #shoptable > #shopinfo_01 > table > tbody > tr > td {
              width: 70%;
              text-align: center;
              padding: 20px 0;
              border-left: 2px dotted #bdc4c4; }
            #map_text > #shoptable > #shopinfo_01 > table > tbody > tr:nth-child(2) > td {
              padding: 10px 0; }
  #map_text > #map_wrap {
    width: 260px;
    height: 100%;
    float: right;
    position: relative; }
    #map_text > #map_wrap > h3 {
      width: calc(100% - 20px);
      height: 48px;
      background-color: #ba1822;
      padding-left: 20px;
      font-size: 1.2rem;
      line-height: 250%;
      font-weight: bold;
      color: #ffffff; }
    #map_text > #map_wrap > div {
      width: 100%;
      height: 280px;
      font-size: 0;
      background-image: url("../img/sub03_tab02/real_map.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    #map_text > #map_wrap > button {
      width: 80px;
      height: 25px;
      background-color: #bdc4c4;
      position: absolute;
      z-index: 200;
      bottom: 0;
      right: 0;
      margin-bottom: 20px;
      margin-right: 20px;
      border-radius: 5px;
      font-size: 0.8rem;
      font-weight: bold;
      box-shadow: 1px 1px 5px #222222; }
  /* PhotoShop 1400px 기준 */
  #footer {
    width: 100%;
    height: 250px;
    background-color: #2f2b2a;
    margin-top: 50px; }
    #footer > #footBox {
      width: 790px;
      height: 200px;
      margin: 0 auto;
      padding-top: 50px; }
      #footer > #footBox > div > span {
        width: 0;
        height: 0;
        display: block;
        font-size: 0; }
  /*------------small box--------------------*/
  #footBox > #nestleImg {
    width: 140px;
    height: 60px;
    float: left;
    margin-left: 65px;
    background-image: url("../img/all/footer/nestle_white.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  #footBox > #persnal {
    width: 510px;
    height: 60px;
    float: left;
    margin-left: 30px; }
    #footBox > #persnal > li {
      height: 100%;
      float: left; }
      #footBox > #persnal > li:nth-child(1) {
        width: 158px; }
      #footBox > #persnal > li:nth-child(3) {
        width: 66px; }
      #footBox > #persnal > li:nth-child(5) {
        width: 128px; }
      #footBox > #persnal > li:nth-child(7) {
        width: 66px; }
      #footBox > #persnal > li > a {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        line-height: 380%;
        color: #bdc4c4;
        float: left; }
    #footBox > #persnal > .dott {
      width: 4px;
      height: 4px;
      padding: 28px 3px;
      margin-right: 7px;
      float: left; }
      #footBox > #persnal > .dott > span {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #bdc4c4;
        display: block;
        font-size: 0;
        float: left; }
  #footBox > #footAll {
    width: 530px;
    height: 100px;
    float: left;
    margin-left: 20px;
    padding-top: 15px;
    padding-left: 20px; }
    #footBox > #footAll > address {
      width: 530px;
      height: 70px;
      float: left;
      font-size: 0.8rem;
      color: #bdc4c4; }
  #footBox > #footImg {
    width: 173px;
    height: 115px;
    float: left;
    margin-left: 10px;
    background-image: url("../img/all/footer/mark_all.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center; } }
