@charset "UTF-8";
/* dolce_sub01_rwd.css */
/* 가상클래스 불러오기 @extend %hidden */
/*#wrap{width: 100%; height: auto;}*/
#wrap { width: 100%; height: auto; }

#wrap > * { margin: 0 auto; }

@media screen and (max-width: 679px) { /* PhotoShop 360px 기준 */
  #headBox { width: 89%; height: 11.1vw; /*40px*/ background-color: #ba1822; border-bottom: 1px solid #222222; position: fixed; padding: 1.38vw 5.5%; /*5px 20px*/ }
  #banner { display: none; }
  /*------------small box--------------------*/
  h1 { width: 11.6%; /*42px*/ height: 11.1vw; /*40px*/ background-image: url("../img/all/header/logo.png"); background-repeat: no-repeat; background-size: contain; background-position: center; position: absolute; z-index: 100; margin-left: 38.8%; /*140px*/ font-size: 0; }
  #gnb { width: 89%; /*320px*/ height: 13.8vw; /*50px*/ padding-top: 1.9vw; /*7px*/ position: absolute; z-index: 200; }
  #gnb > h2 { width: 8.3%; /*30px*/ height: 7.2vw; /*26px*/ float: left; }
  #gnb > h2 > i { width: 100%; height: 100%; font-size: 7.5vw; /*1.7rem*/ display: block; color: #ffffff; text-align: center; }
  #gnb > h2 > span { width: 0; height: 0; display: block; overflow: hidden; }
  #gnb > #snsBox { width: 44.4%; /*160px*/ height: 8.3vw; /*30px*/ float: left; margin-top: 97.2vw; /*300px*/ margin-left: -5.5%; position: absolute; z-index: 500; padding: 0 13.9%; /*0 50px*/ left: -100%; }
  #gnb > #snsBox > li { width: 25%; /*40px*/ height: 100%; margin-right: 12%; /*20px*/ float: left; }
  #gnb > #snsBox > li.round { display: none; }
  #gnb > #snsBox > li.navercafe { margin-right: 0; }
  #gnb > #snsBox > li.facebook > a { background-image: url("../img/all/header/sns_01.png"); }
  #gnb > #snsBox > li.youtube > a { background-image: url("../img/all/header/sns_02.png"); }
  #gnb > #snsBox > li.navercafe > a { background-image: url("../img/all/header/sns_03.png"); }
  #gnb > #snsBox > li > a { width: 75%; /*30px*/ height: 100%; padding: 0 12.5%; /*0 5px*/ background-size: contain; }
  #gnb > #snsBox > li > a > span { width: 0; height: 0; display: block; overflow: hidden; }
  #gnb > #searchBox { width: 8.3%; /*30px*/ height: 7.2vw; /*26px*/ float: right; }
  #gnb > #searchBox > button { width: 100%; height: 100%; background-color: transparent; }
  #gnb > #searchBox > button > span { width: 0; height: 0; display: none; overflow: hidden; }
  #gnb > #searchBox > button > i { width: 100%; height: 100%; font-size: 7.5vw; /*1.7rem*/ color: #ffffff; text-align: center; }
  #gnb > #sitemebBox { width: 72.2%; /*260px*/ height: 8.3vw; /*30px*/ float: left; margin-top: 111.1vw; /*400px*/ margin-left: -5.5%; position: absolute; z-index: 500; left: -100%; }
  #gnb > #sitemebBox > li { width: 38.4%; /*100px*/ height: 100%; padding-left: 7.7%; /*20px*/ padding-right: 3.84%; /*10px*/ float: left; }
  #gnb > #sitemebBox > li:nth-child(2) { width: 0; height: 0; display: none; overflow: hidden; font-size: 0; }
  #gnb > #sitemebBox > li:last-child { padding-left: 3.84%; /*10px*/ padding-right: 7.7%; /*20px*/ }
  #gnb > #sitemebBox > li > button { width: 100%; height: 100%; background-color: #bdc4c4; border-radius: 5%; }
  #gnb > #sitemebBox > li > button > a { width: 100%; height: 100%; display: block; font-size: 5.8vw; /*1.3rem*/ }
  #gnb > #mainBox { width: 72.2%; /*260px*/ height: 416.4vw; /*1500px*/ background-color: #ffffff; float: left; margin-top: -3.28vw; /*10px*/ margin-left: -6.25%; /*20px*/ position: absolute; z-index: 300; left: -100%; }
  #gnb > #mainBox > li { width: 80%; /*208px*/ height: auto; /*50px*/ padding: 10% 10% 0; /* 0 26px */ }
  #gnb > #mainBox > li.endBox { height: 2%; }
  #gnb > #mainBox > li > i { width: 11%; /*22.8px*/ height: 100%; font-size: 6.6vw; /*1.5rem*/ text-align: center; color: #111111; display: block; float: right; margin-top: 5%; }
  #gnb > #mainBox > li > a { width: 100%; height: 9.23vw; /*24px*/ font-size: 6.6vw; /*1.5rem*/ color: #111111; }
  #gnb > #mainBox > li > a:hover { border-bottom: 2px solid #ba1822; }
  #gnb > #mainBox > li > .sub_menu { width: 100%; height: auto; }
  /* PhotoShop 360px 기준 */
  /* sub_nav */
  #nav_box { width: 94.5%; /*340px*/ height: 18.9vw; /*70px*/ background-color: #ffffff; padding: 0 2.7%; /*0 10px*/ margin-top: 13.8vw; /*50px*/ position: fixed; border-bottom: 1px solid #dcdcda; z-index: 1000; }
  #nav_box > ul { width: 100%; height: 100%; }
  #nav_box > ul > li { width: 20%; height: 100%; float: left; padding-top: 4.2vw; /*15px*/ }
  #nav_box > ul > li > a { font-size: 1rem; color: #111111; text-align: center; }
  #nav_box > ul > li > a:hover { text-decoration: none; font-size: 5.5vw; /*1.25rem*/ color: #ba1822; }
  #nav_box > ul > li:nth-child(2) > a { line-height: 250%; }
  #nav_box > ul > li:nth-child(3) > a { line-height: 250%; }
  /* container_underbar*/
  #con_ub { width: 100%; height: 2px; background: #dcdcda; }
  /* PhotoShop 360px 기준 */
  /* article_container 공통*/
  #wrap > article { width: 94.5%; /*340px*/ height: auto; padding: 13.8vw 2.7% 0; /*50PX 10px 0*/ }
  #wrap > article:first-of-type { padding-top: 49.5vw; /*180px*/ }
  #wrap > article > h3 { width: 100%; height: 13.8vw; /*50px*/ text-align: center; font-size: 1.2rem; font-weight: bold; color: #ba1822; margin: 0 auto; }
  #wrap > article > h4 { width: 100%; height: 8.1VW; /*30px*/ text-align: center; font-size: 1rem; font-weight: bold; margin: 0 auto; }
  #wrap > article > p { height: auto; font-size: 1rem; }
  #wrap > article > div { background-repeat: no-repeat; background-position: center center; }
  .con_ub { width: 94.5%; /*340px*/ height: 13.8vw; /*50px*/ border-bottom: 2px solid #bdc4c4; }
  /* #container_01*/
  #wrap > #container_01 { height: auto; }
  #wrap > #container_01 > .text_01 { width: 90%; margin-top: 8.1VW; /*30px*/ margin-left: 5%; }
  #wrap > #container_01 > .text_01 > p { width: 100%; font-size: 5.3vw; /*1.2rem*/ font-weight: bold; }
  #wrap > #container_01 > .text_01 > dl { width: 100%; height: 100%; }
  #wrap > #container_01 > .text_01 > dl > dt { width: 100%; height: 100%; font-size: 4.9vw; /*1.1rem*/ font-weight: bold; margin-top: 30px; color: #ba1822; }
  #wrap > #container_01 > .text_01 > dl > dd { width: 100%; height: 100%; font-size: 4.4vw; /*1rem*/ }
  #wrap > #container_01 > div:last-child { width: 90%; height: 111vw; /*400px*/ margin-left: 5%; margin-top: 8.1VW; /*30px*/ background-position: top right; background-image: url("../img/article_01/con_01.png"); background-size: 105%; }
  /* #container_02*/
  #wrap > #container_02 { height: auto; }
  #wrap > #container_02 > p { width: 90%; height: 52.7vw; /*190px*/ margin-left: 5%; margin-top: 8.1VW; /*30px*/ }
  #wrap > #container_02 > div { width: 74%; height: 63.8vw; /*225px*/ margin-left: 13%; margin-top: 13.8vw; /*50px*/ }
  #wrap > #container_02 > div > dl { width: 100%; height: 18.9vw; /*70px*/ }
  #wrap > #container_02 > div > dl > dt { width: 100%; height: 8.1VW; /*30px*/ font-size: 4.4vw; /*1rem*/ font-weight: bold; margin-top: 2.7vw; /*10px*/ color: #ba1822; }
  #wrap > #container_02 > div > dl > dd { width: 100%; height: 8.1VW; /*30px*/ }
  /* #container_03*/
  #wrap > #container_03 { height: auto; }
  #wrap > #container_03 > div { width: 90%; margin-left: 5%; }
  #wrap > #container_03 > div.text_03 { height: auto; }
  #wrap > #container_03 > .text_03 > p { width: 90%; margin-left: 5%; height: auto; }
  #wrap > #container_03 > .text_03 > p:first-of-type { font-size: 4.9vw; /*1.1rem*/ font-weight: bold; color: #ba1822; margin-top: 8.1VW; /*30px*/ }
  #wrap > #container_03 > .text_03 > p:last-of-type { font-size: 4.4vw; /*1rem*/ margin-top: 5.4vw; /*20px*/ }
  #wrap > #container_03 > .pic_01 { height: 69.5vw; /*300px*/ background-image: url("../img/article_03/picture_01.png"); margin-top: 8.1VW; /*30px*/ background-size: 90%; }
  #wrap > #container_03 > .pic_02 { height: 69.5vw; /*300px*/ background-image: url("../img/article_03/picture_02.png"); margin-top: 2.7vw; /*10px*/ background-size: 90%; }
  #wrap > #container_03 > .pic_03 { height: 69.5vw; /*300px*/ background-image: url("../img/article_03/picture_03.png"); margin-top: 8.1VW; /*30px*/ background-size: 90%; }
  #wrap > #container_03 > .pic_04 { height: 69.5vw; /*300px*/ background-image: url("../img/article_03/picture_04.png"); margin-top: 2.7vw; /*10px*/ background-size: 90%; }
  #wrap > #container_03 > .pic_05 { height: 69.5vw; /*300px*/ background-image: url("../img/article_03/picture_05.png"); margin-top: 8.1VW; /*30px*/ background-size: 90%; }
  /* #container_04*/
  #wrap > #container_04 { height: auto; }
  #wrap > #container_04 > p { width: 90%; margin-left: 5%; margin-top: 8.1VW; /*30px*/ }
  #wrap > #container_04 > div { width: 90%; margin-left: 5%; height: 55.5vw; /*200px*/ background-image: url("../img/article_04/picture_01.jpg"); background-size: 90%; }
  /* #container_05*/
  #wrap > #container_05 { height: auto; }
  #wrap > #container_05 > p { width: 90%; margin-left: 5%; margin-top: 8.1VW; /*30px*/ }
  #wrap > #container_05 > div { width: 90%; margin-left: 5%; height: 55.5vw; /*200px*/ background-image: url("../img/article_05/picture_01.png"); background-size: 80%; background-position: center right; }
  /* Photoshop 360px */
  #footer { width: 86%; /*310px*/ height: 39vw; /*140px*/ background-color: #bdc4c4; padding: 8.3vw 7% 8.3vw; /*30px 25px 30px*/ }
  #footer > #footBox { width: 100%; height: 39vw; /*140px*/ }
  /*------------small box--------------------*/
  #footBox > #persnal { display: none; }
  #footBox > #footAll { width: 100%; height: 100%; }
  #footBox > #footAll > #nestleImg { width: 100%; height: 45%; background-image: url("../img/all/footer/nestle_black.png"); background-repeat: no-repeat; background-size: contain; background-position: center; }
  #footBox > #footAll > address { width: 90%; height: 45%; margin-top: 8%; margin-left: 5%; font-size: 3.2vw; /*0.9rem*/ }
  #footBox > #footAll > address > p { display: none; }
  #footBox > #footImg { display: none; } }
@media screen and (min-width: 680px) and (max-width: 959px) { /* PhotoShop 768px 기준 */
  header { width: 100%; height: 12.3vw; /*108px*/ position: fixed; z-index: 1000; background-color: #ba1822; border-bottom: 1px solid #222222; box-sizing: border-box; }
  header > #headBox { width: 87.5%; /*675px*/ height: 10.5vw; /*94px*/ padding: 1.3vw 6.25% 0.5vw; /*4px*/ }
  /*------------small box--------------------*/
  h1 { width: 10.6%; /*82px*/ height: 10.4vw; /*80px*/ margin-left: 39%; /*300px*/ background-image: url("../img/all/header/logo.png"); background-repeat: no-repeat; background-size: contain; background-position: center; font-size: 0; position: absolute; z-index: 300; }
  #gnb { width: 87.5%; /*675px*/ height: 3vw; /*23px*/ /*background-color:darkcyan; */ position: absolute; z-index: 200; margin-top: 3.6vw; /*28px*/ }
  #gnb > h2 { width: 6%; /*40.5px*/ height: 100%; /*23px*/ float: left; }
  #gnb > h2 > i { font-size: 3vw; /*1.43rem*/ color: #ffffff; float: left; }
  #gnb > h2 > span { width: 19.1%; /*9px*/ height: 34.7%; /*8px*/ display: block; float: left; margin-left: 29.6%; /*12px*/ margin-top: 1.1vw; /*8px*/ background-color: #ffffff; border-radius: 50%; }
  #gnb > #snsBox { width: 44.4%; /*300px*/ height: 6vw; /*40px*/ float: left; margin-top: 66.7%; /*450px*/ position: absolute; z-index: 500; left: -100%; }
  #gnb > #snsBox > li { width: 13.3%; /*40px*/ height: 100%; margin-right: 13.3%; /*40px*/ float: left; }
  #gnb > #snsBox > li.round { display: none; }
  #gnb > #snsBox > li:last-child { margin-right: 0; }
  #gnb > #snsBox > li.facebook > a { background-image: url("../img/all/header/sns_01.png"); }
  #gnb > #snsBox > li.youtube > a { background-image: url("../img/all/header/sns_02.png"); }
  #gnb > #snsBox > li.navercafe > a { background-image: url("../img/all/header/sns_03.png"); }
  #gnb > #snsBox > li > a { width: 75%; /*30px*/ height: 100%; padding: 0 12.5%; /*0 5px*/ background-size: contain; }
  #gnb > #snsBox > li > a > span { width: 0; height: 0; display: block; overflow: hidden; }
  #gnb > #searchBox { width: 6.9%; /*47px*/ height: 100%; /*23px*/ float: left; margin-left: 1.7%; /*12px*/ }
  #gnb > #searchBox > button { width: 100%; height: 100%; background-color: transparent; }
  #gnb > #searchBox > button > span { width: 0; height: 0; display: none; overflow: hidden; }
  #gnb > #searchBox > button > i { font-size: 3vw; /*1.43rem*/ color: #ffffff; }
  #gnb > #sitemebBox { width: 14.8%; /*100px*/ height: 56.5%; /*13px*/ margin-top: 0.3vw; /*2px*/ float: right; }
  #gnb > #sitemebBox > li { height: 100%; margin-right: 10%; /*10px*/ float: left; }
  #gnb > #sitemebBox > li:nth-child(1) { width: 35%; /*35px*/ }
  #gnb > #sitemebBox > li:nth-child(2) { width: 8%; /* 8px*/ }
  #gnb > #sitemebBox > li:nth-child(2) > span { width: 100%; /*9px*/ height: 61.5%; /*8px*/ display: block; float: left; font-size: 0; margin-top: 4px; background-color: #ffffff; border-radius: 50%; }
  #gnb > #sitemebBox > li:nth-child(3) { width: 30%; /*30px*/ margin-right: 0; }
  #gnb > #sitemebBox > li > button { width: 100%; height: 100%; background-color: #ba1822; }
  #gnb > #sitemebBox > li > button > a { width: 100%; height: 100%; display: block; font-size: 1.875vw; /*0.9rem*/ color: #ffffff; }
  #gnb > #mainBox { width: 44.4%; /*300px*/ height: auto; /*1500px*/ background-color: #ffffff; float: left; overflow: scroll; margin-top: -4.9vw; /*33px*/ margin-left: -7.1%; /*48px*/ position: absolute; z-index: 300; left: -100%; }
  #gnb > #mainBox > li { width: 86.7%; /*260px*/ height: auto; /*60px*/ padding: 5% 10%; /*25px 20px*/ }
  #gnb > #mainBox > li > i { width: 11%; /*33px*/ height: 100%; /*14px*/ font-size: 3.125vw; /*1.5rem*/ text-align: center; color: #111111; display: block; float: right; }
  #gnb > #mainBox > li > a { width: 90%; height: 40%; /*24px*/ font-size: 3.125vw; /*1.5rem*/ color: #111111; }
  #gnb > #mainBox > li > a:hover { border-bottom: 2px solid #ba1822; box-sizing: border-box; }
  #gnb > #mainBox > li > .sub_menu { width: 100%; height: auto; padding-top: 5%; }
  /* PhotoShop 768px 기준 */
  /* sub_nav */
  #nav_box { width: 90%; height: 6.5vw; /*50px*/ background-color: #ffffff; margin-left: 5%; margin-top: 12.3vw; /*108px*/ position: fixed; border-bottom: 1px solid #dcdcda; z-index: 1000; }
  #nav_box > ul { width: 100%; height: 100%; }
  #nav_box > ul > li { width: 20%; height: 100%; float: left; /* padding-top:15px;*/ }
  #nav_box > ul > li > a { font-size: 2.1vw; /*1rem*/ color: #111111; text-align: center; line-height: 300%; font-size: 1rem; }
  #nav_box > ul > li > a:hover { text-decoration: none; color: #ba1822; }
  /* container_underbar*/
  #con_ub { width: 100%; height: 2px; background: #dcdcda; }
  /* PhotoShop 768px 기준 */
  /* article_container 공통*/
  /*10px 1.3vw*/
  #wrap > article { width: 90%; /*690px*/ height: auto; padding: 5.2vw 5% 0; /*40px 38px 0*/ /**/ }
  #wrap > article:first-of-type { padding-top: 26vw; /*200px*/ }
  #wrap > article > h3 { width: 100%; height: 6.5vw; /*50px*/ font-size: 1.2rem; font-weight: bold; color: #ba1822; text-align: center; }
  #wrap > article > h4 { width: 100%; height: 3.9vw; /*30px*/ font-size: 1rem; font-weight: bold; text-align: center; }
  #wrap > article > p { height: auto; font-size: 1rem; }
  #wrap > article > div { background-repeat: no-repeat; background-position: center center; }
  .con_ub { width: 90%; /*690px*/ height: 3.9vw; /*30px*/ border-bottom: 2px solid #bdc4c4; }
  /* #container_01*/
  #wrap > #container_01 { height: auto; }
  #wrap > #container_01 > .text_01 { width: 80%; /*655px*/ margin-left: 10%; margin-top: 2.6vw; /*20px*/ }
  #wrap > #container_01 > .text_01 > p { width: 100%; /*655px*/ text-align: center; font-size: 2.5vw; /*1.2rem*/ font-weight: bold; }
  #wrap > #container_01 > .text_01 > dl { width: 80%; /*655px*/ margin-left: 10%; height: 100%; }
  #wrap > #container_01 > .text_01 > dl::before { content: ""; display: block; clear: both; }
  #wrap > #container_01 > .text_01 > dl::after { content: ""; display: block; clear: both; }
  #wrap > #container_01 > .text_01 > dl > dt { width: 30%; height: auto; float: left; font-size: 2.3vw; /*1.1rem*/ font-weight: bold; margin-top: 3.9vw; /*30px*/ color: #ba1822; }
  #wrap > #container_01 > .text_01 > dl > dd { width: 70%; height: auto; float: left; font-size: 2.1vw; /*1rem*/ margin-top: 3.9vw; /*30px*/ }
  #wrap > #container_01 > div:last-child { width: 95%; /*655px*/ height: 67.2vw; /*516px*/ margin-left: 2.5%; margin-top: 3.9vw; /*30px*/ background-image: url("../img/article_01/con_01.png"); background-size: 70%; background-position: center center; }
  /* #container_02*/
  #wrap > #container_02 { height: auto; }
  #wrap > #container_02::before { content: ""; display: block; clear: both; }
  #wrap > #container_02::after { content: ""; display: block; clear: both; }
  #wrap > #container_02 > p { width: 95%; /*655px*/ margin-left: 2.5%; margin-top: 2.6vw; /*20px*/ }
  #wrap > #container_02 > div { width: 70%; /*522px*/ height: 24.7vw; margin-left: 15%; /*70px*/ margin-top: 2.6vw; /*20px*/ }
  #wrap > #container_02 > div:first-of-type { padding-top: 5%; }
  #wrap > #container_02 > div:last-of-type { float: left; margin-right: 0; }
  #wrap > #container_02 > div::before { content: ""; display: block; clear: both; }
  #wrap > #container_02 > div::after { content: ""; display: block; clear: both; }
  #wrap > #container_02 > div > iframe { float: left; }
  #wrap > #container_02 > div > dl { width: 35%; height: 100%; float: left; padding-left: 10%; }
  #wrap > #container_02 > div > dl > dt { width: 100%; height: auto; font-size: 2.1vw; /*1rem*/ font-weight: bold; margin-top: 3.9vw; /*30px*/ color: #ba1822; }
  #wrap > #container_02 > div > dl > dd { width: 100%; height: auto; margin-top: 1.3vw; margin-left: 5%; }
  /* #container_03*/
  #wrap > #container_03 { height: auto; }
  #wrap > #container_03::before { content: ""; display: block; clear: both; }
  #wrap > #container_03::after { content: ""; display: block; clear: both; }
  #wrap > #container_03 > div { width: 45%; margin-top: 2.6vw; /*20px*/ }
  #wrap > #container_03 > div.text_03 { margin-left: 2.5%; }
  #wrap > #container_03 > div.text_03:first-of-type { margin-top: 2.6vw; /*20px*/ }
  #wrap > #container_03 > div.box_01 { height: 40vw; /*307px*/ float: left; }
  #wrap > #container_03 > div.box_02 { height: 54.7vw; /*420px*/ float: right; margin-right: 3%; }
  #wrap > #container_03 > div.box_03 { height: 40.3vw; /*310px*/ float: left; }
  #wrap > #container_03 > div.box_04 { height: 32.5vw; /*250px*/ float: right; margin-right: 3%; }
  #wrap > #container_03 > div.box_05 { height: 35.1vw; /*270px*/ float: left; }
  #wrap > #container_03 > .text_03 > p { width: 100%; height: auto; }
  #wrap > #container_03 > .text_03 > p:first-of-type { font-size: 2.3vw; /*1.1rem*/ font-weight: bold; color: #ba1822; }
  #wrap > #container_03 > .text_03 > p:last-of-type { font-size: 2.1vw; /*1rem*/ margin-top: 20px; }
  #wrap > #container_03 > .pic_01 { height: 40vw; /*307px*/ background-image: url("../img/article_03/picture_01.png"); float: right; margin-top: 2.6vw; /*20px*/ margin-left: 2%; margin-right: 3%; background-size: 80%; }
  #wrap > #container_03 > .pic_02 { height: 54.7vw; /*420px*/ background-image: url("../img/article_03/picture_02.png"); float: left; background-size: 90%; margin-left: 2.5%; }
  #wrap > #container_03 > .pic_03 { height: 40.3vw; /*310px*/ background-image: url("../img/article_03/picture_03.png"); float: right; background-size: 80%; margin-right: 3%; }
  #wrap > #container_03 > .pic_04 { height: 32.5vw; /*250px*/ background-image: url("../img/article_03/picture_04.png"); float: left; background-size: 70%; margin-left: 2.5%; background-position: center center; }
  #wrap > #container_03 > .pic_05 { height: 35.1vw; /*270px*/ background-image: url("../img/article_03/picture_05.png"); float: right; background-size: 70%; margin-right: 3%; margin-left: 2%; }
  /* #container_04*/
  #wrap > #container_04 { height: auto; }
  #wrap > #container_04::before { content: ""; display: block; clear: both; }
  #wrap > #container_04::after { content: ""; display: block; clear: both; }
  #wrap > #container_04 > p { width: 50%; height: auto; float: right; margin-top: 6.5vw; /*50px*/ }
  #wrap > #container_04 > div { width: 50%; height: 26vw; /*200px*/ margin-top: 2.6vw; /*20px*/ background-image: url("../img/article_04/picture_01.jpg"); background-size: 80%; float: left; background-position: center center; }
  /* #container_05*/
  #wrap > #container_05 { height: auto; padding-bottom: 6.5vw; /*50px*/ }
  #wrap > #container_05::before { content: ""; display: block; clear: both; }
  #wrap > #container_05::after { content: ""; display: block; clear: both; }
  #wrap > #container_05 > p { width: 60%; height: auto; float: left; margin-top: 6.5vw; /*50px*/ }
  #wrap > #container_05 > div { width: 40%; height: 26vw; /*200px*/ margin-top: 2.6vw; /*20px*/ background-image: url("../img/article_05/picture_01.png"); float: right; background-size: 80%; }
  /* PhotoShop 768px 기준 */
  #footBox { width: 68.75%; /*528px*/ height: 12.5vw; /*96px*/ background-color: #bdc4c4; padding: 3.6vw 15.625% 4.2vw; /*28px 120px 32px*/ }
  #footBox > #footBox { width: 100%; height: 100%; }
  /*------------small box--------------------*/
  #footBox > #persnal { width: 81.4%; /*430px*/ height: 16.7%; /*16px*/ margin-top: 1.3vw; /*10px*/ float: left; }
  #footBox > #persnal > li { height: 100%; float: left; margin-right: 0.9%; /*4px*/ }
  #footBox > #persnal > li:nth-child(1) { width: 31.6%; /*136px*/ }
  #footBox > #persnal > li:nth-child(2) { width: 15.8%; /*68px*/ }
  #footBox > #persnal > li:nth-child(3) { width: 27.4%; /*118px*/ }
  #footBox > #persnal > li:nth-child(4) { width: 15.1%; /*65px*/ margin-right: 0; }
  #footBox > #persnal > li > a { width: calc(100% - 8px); font-size: 1.6vw; /*0.8rem*/ float: left; }
  #footBox > #persnal > li > span { width: 4px; height: 4px; border-radius: 50%; margin-top: 0.8vw; /*6px*/ background-color: #222222; display: block; font-size: 0; float: left; }
  #footBox > #footAll { width: 70.8%; /*374px*/ height: 62.5%; /*60px*/ float: left; margin-top: 1.3vw; /*10px*/ }
  #footBox > #footAll > #nestleImg { width: 28.1%; /*105px*/ height: 80%; /*48px*/ float: left; background-image: url("../img/all/footer/nestle_black.png"); background-repeat: no-repeat; background-size: contain; background-position: center; }
  #footBox > #footAll > address { width: 66.8%; /*250px*/ height: 96.7%; /*58px*/ float: left; margin-left: 5.1%; font-size: 1.6vw; /*0.8rem*/ }
  #footBox > #footAll > address > p { display: none; }
  #footBox > #footImg { width: 25.3%; /*134px*/ height: 100%; /*96px*/ float: right; margin-top: -26px; }
  #footBox > #footImg > #serviceImg { width: 100%; height: 45.8%; /*44px*/ }
  #footBox > #footImg > #awardsImg { width: 69.4%; /*93px*/ height: 50%; /*48px*/ padding-top: 4%; /*4px*/ padding-left: 15%; /*20px*/ }
  #footBox > #footImg > div > img { width: 100%; height: 100%; } }
@media screen and (min-width: 960px) { /* PhotoShop 1400px 기준 */
  header { width: 100%; height: 170px; background-color: #ffffff; border-bottom: 10px solid #ba1822; box-sizing: border-box; position: fixed; z-index: 1000; overflow: hidden; }
  header > #headBox { width: 860px; height: 140px; padding: 10px 50px 0 50px; position: absolute; top: 0; left: 50%; margin-left: -480px; display: block; overflow: hidden; }
  /*------------small box--------------------*/
  header > #headBox > h1 { width: 90px; height: 90px; background-image: url("../img/all/header/logo.png"); margin-top: 20px; position: absolute; z-index: 500; left: 50%; margin-left: -45px; font-size: 0; }
  header > #headBox > #gnb { width: 860px; height: 106px; }
  header > #headBox > #gnb > h2 { width: 0; height: 0; display: block; overflow: hidden; }
  header > #headBox > #gnb > h2 > * { display: none; }
  header > #headBox > #gnb > #snsBox { width: 92px; height: 20px; float: left; }
  header > #headBox > #gnb > #snsBox > li { width: 18px; height: 100%; float: left; margin-right: 5px; }
  header > #headBox > #gnb > #snsBox > li.round { width: 4px; height: 4px; background-color: #bdc4c4; border-radius: 50%; font-size: 0; margin-top: 8px; }
  header > #headBox > #gnb > #snsBox > li:last-child { margin-right: 0; }
  header > #headBox > #gnb > #snsBox > li:nth-child(1) > a { background-image: url("../img/all/header/sns_01.png"); }
  header > #headBox > #gnb > #snsBox > li:nth-child(3) > a { background-image: url("../img/all/header/sns_02.png"); }
  header > #headBox > #gnb > #snsBox > li:nth-child(5) > a { background-image: url("../img/all/header/sns_03.png"); }
  header > #headBox > #gnb > #snsBox > li > span { width: 0; height: 0; display: block; overflow: hidden; }
  header > #headBox > #gnb > #searchBox { width: 100px; height: 18px; float: left; border-bottom: 2px solid #bdc4c4; margin-left: 5px; padding-top: 2px; }
  header > #headBox > #gnb > #searchBox > button { width: 100%; height: 100%; background-color: transparent; }
  header > #headBox > #gnb > #searchBox > button > span { font-size: 0.75rem; color: #bdc4c4; float: left; }
  header > #headBox > #gnb > #searchBox > button > i { font-size: 0.75rem; /*22px*/ color: #bdc4c4; float: right; }
  header > #headBox > #gnb > #sitemebBox { width: 64px; height: 10px; float: right; padding-top: 5px; }
  header > #headBox > #gnb > #sitemebBox > li { height: 100%; float: left; margin-right: 5px; }
  header > #headBox > #gnb > #sitemebBox > li:nth-child(1) { width: 27px; }
  header > #headBox > #gnb > #sitemebBox > li:nth-child(2) { width: 5px; height: 5px; margin-top: 2px; }
  header > #headBox > #gnb > #sitemebBox > li:nth-child(2) > span { width: 100%; height: 100%; background-color: #bdc4c4; display: block; border-radius: 50%; font-size: 0; }
  header > #headBox > #gnb > #sitemebBox > li:nth-child(3) { width: 21px; margin-right: 0; }
  header > #headBox > #gnb > #sitemebBox > li > button { width: 100%; height: 100%; background-color: #ffffff; }
  header > #headBox > #gnb > #sitemebBox > li > button > a { width: 100%; height: 100%; display: block; font-size: 0.725rem; color: #222222; }
  header > #headBox > #gnb > #mainBox { width: 735px; height: 150px; float: left; margin-top: 84px; /*margin-left:-1px;*/ padding: 5px 82px 0; }
  header > #headBox > #gnb > #mainBox > li { height: 30px; float: left; }
  header > #headBox > #gnb > #mainBox > li:nth-child(2) { width: 53px; margin-right: 100px; }
  header > #headBox > #gnb > #mainBox > li:nth-child(3) { width: 72px; margin-right: 260px; }
  header > #headBox > #gnb > #mainBox > li:nth-child(4) { width: 64px; margin-left: -20px; }
  header > #headBox > #gnb > #mainBox > li:nth-child(5) { width: 138px; float: right; }
  header > #headBox > #gnb > #mainBox > li > i { width: 0; height: 0; display: block; overflow: hidden; }
  header > #headBox > #gnb > #mainBox > li > a { font-size: 1.25rem; color: #222222; }
  header > #headBox > #gnb > #mainBox > li > a.red { color: #ba1822; }
  header > #headBox > #gnb > #mainBox > li > .sub_menu { width: 100%; height: auto; /*padding-top:5px;*/ }
  header > #headBox > #gnb > #mainBox > li > .sub_menu > li { width: 100%; height: auto; }
  /* dolce_sub01_nav.css */
  /* sub_nav */
  #nav_box { width: 940px; height: 50px; background-color: #ffffff; left: 50%; margin-left: -468px; margin-top: 170px; position: fixed; border-bottom: 1px solid #dcdcda; z-index: 1000; }
  #nav_box > ul { width: 100%; height: 100%; }
  #nav_box > ul > li { width: 180px; height: 20px; float: left; padding-top: 15px; }
  #nav_box > ul > li > a { font-size: 1rem; color: #111111; text-align: center; }
  #nav_box > ul > li > a:hover { text-decoration: none; font-size: 1.25rem; color: #ba1822; }
  /* container_underbar*/
  #con_ub { width: 100%; height: 2px; background: #dcdcda; }
  /* dolce_sub01_article.css */
  /* article_container 공통*/
  #wrap > #article_box { width: 900px; height: 214px; }
  #wrap > article { width: 900px; padding-top: 40px; padding-left: 10px; left: 50%; }
  #wrap > article > h3 { height: 50px; font-size: 1.2rem; font-weight: bold; color: #ba1822; margin: 0 auto; }
  #wrap > article > h4 { height: 30px; font-size: 1rem; font-weight: bold; margin: 0 auto; }
  #wrap > article > p { height: auto; font-size: 1rem; }
  #wrap > article > div { background-repeat: no-repeat; background-position: center center; }
  .con_ub { width: 900px; height: 20px; border-bottom: 2px solid #bdc4c4; }
  /* #container_01*/
  #wrap > #container_01 { height: 600px; }
  #wrap > #container_01 > h4 { width: 96px; }
  #wrap > #container_01 > h3 { width: 365px; }
  #wrap > #container_01 > .text_01 { width: 430px; margin-top: 80px; float: left; }
  #wrap > #container_01 > .text_01 > p { width: 100%; font-size: 1.2rem; font-weight: bold; }
  #wrap > #container_01 > .text_01 > dl { width: 100%; height: 100%; }
  #wrap > #container_01 > .text_01 > dl > dt { width: 100%; height: 100%; font-size: 1.1rem; font-weight: bold; margin-top: 30px; color: #ba1822; }
  #wrap > #container_01 > .text_01 > dl > dd { width: 100%; height: 100%; font-size: 1rem; }
  #wrap > #container_01 > div:last-child { width: 405px; height: 516px; background-image: url("../img/article_01/con_01.png"); float: right; background-size: 80%; background-position: center right; }
  /* #container_02*/
  #wrap > #container_02 { height: 580px; }
  #wrap > #container_02 > h4 { width: 56px; }
  #wrap > #container_02 > h3 { width: 182px; }
  #wrap > #container_02 > p { width: 100%; margin-top: 50px; }
  #wrap > #container_02 > div { float: left; margin-top: 50px; margin-right: 52px; }
  #wrap > #container_02 > div:first-of-type { padding-left: 15px; }
  #wrap > #container_02 > div:last-of-type { float: left; margin-right: 0; }
  #wrap > #container_02 > div > dl { width: 100%; height: 100%; }
  #wrap > #container_02 > div > dl > dt { width: 100%; height: 100%; font-size: 1rem; font-weight: bold; margin-top: 30px; color: #ba1822; }
  #wrap > #container_02 > div > dl > dd { width: 100%; height: 100%; }
  /* #container_03*/
  #wrap > #container_03 { height: 1970px; }
  #wrap > #container_03 > h4 { width: 56px; }
  #wrap > #container_03 > h3 { width: 206px; }
  #wrap > #container_03 > div { width: 50%; }
  #wrap > #container_03 > div.text_03 { height: auto; }
  #wrap > #container_03 > div.box_01 { float: left; }
  #wrap > #container_03 > div.box_02 { float: right; }
  #wrap > #container_03 > div.box_03 { float: left; }
  #wrap > #container_03 > div.box_04 { float: right; }
  #wrap > #container_03 > div.box_05 { float: left; }
  #wrap > #container_03 > .text_03 > p { width: 100%; height: auto; }
  #wrap > #container_03 > .text_03 > p:first-of-type { font-size: 1.1rem; font-weight: bold; color: #ba1822; margin-top: 100px; }
  #wrap > #container_03 > .text_03 > p:last-of-type { font-size: 1rem; margin-top: 20px; }
  #wrap > #container_03 > .pic_01 { height: 270px; background-image: url("../img/article_03/picture_01.png"); float: right; margin-top: 100px; background-size: 70%; }
  #wrap > #container_03 > .pic_02 { height: 270px; background-image: url("../img/article_03/picture_02.png"); float: left; margin-top: 20px; background-size: 90%; margin-top: 155px; }
  #wrap > #container_03 > .pic_03 { height: 270px; background-image: url("../img/article_03/picture_03.png"); float: right; margin-top: 20px; background-size: 80%; margin-top: 80px; }
  #wrap > #container_03 > .pic_04 { height: 290px; background-image: url("../img/article_03/picture_04.png"); float: left; margin-top: 20px; background-size: 80%; margin-top: 60px; }
  #wrap > #container_03 > .pic_05 { height: 310px; background-image: url("../img/article_03/picture_05.png"); float: right; margin-top: 20px; background-size: 70%; }
  /* #container_04*/
  #wrap > #container_04 { height: 370px; }
  #wrap > #container_04 > h4 { width: 114px; }
  #wrap > #container_04 > h3 { width: 206px; }
  #wrap > #container_04 > p { width: 50%; float: right; margin-top: 100px; }
  #wrap > #container_04 > div { width: 50%; height: 300px; background-image: url("../img/article_04/picture_01.jpg"); background-size: 80%; float: left; }
  /* #container_05*/
  #wrap > #container_05 { height: 450px; }
  #wrap > #container_05 > h4 { width: 142px; }
  #wrap > #container_05 > h3 { width: 128px; }
  #wrap > #container_05 > p { width: 60%; float: left; margin-top: 100px; }
  #wrap > #container_05 > div { width: 40%; height: 300px; background-image: url("../img/article_05/picture_01.png"); float: right; background-size: 80%; background-position: center right; }
  /* PhotoShop 1400px 기준 */
  #footer { width: 100%; height: 250px; background-color: #bdc4c4; margin-top: 50px; }
  #footer > #footBox { width: 790px; height: 125px; margin: 0 auto; padding-top: 50px; }
  /*------------small box--------------------*/
  #footBox > #persnal { width: 590px; height: 16px; float: left; margin-left: 80px; }
  #footBox > #persnal > li { height: 100%; float: left; /*padding-right:20px;*/ }
  #footBox > #persnal > li:nth-child(1) { width: 168px; }
  #footBox > #persnal > li:nth-child(2) { width: 80px; }
  #footBox > #persnal > li:nth-child(3) { width: 145px; }
  #footBox > #persnal > li:nth-child(4) { width: 80px; margin-right: 0; }
  #footBox > #persnal > li > a { width: calc(100% - 8px); font-size: 1rem; float: left; }
  #footBox > #persnal > li > span { width: 4px; height: 4px; border-radius: 50%; margin-top: 8px; background-color: #222222; display: block; font-size: 0; float: left; }
  #footBox > #footAll { width: 570px; height: 78px; float: left; margin-top: 25px; margin-left: 40px; }
  #footBox > #footAll > #nestleImg { width: 136px; height: 60px; float: left; background-image: url("../img/all/footer/nestle_black.png"); background-repeat: no-repeat; background-size: contain; background-position: center; }
  #footBox > #footAll > address { width: 400px; height: 70px; float: left; margin-left: 30px; font-size: 0.8rem; }
  #footBox > #footAll > address > p { width: 100%; height: auto; }
  #footBox > #footImg { width: 173px; height: 125px; float: right; margin-top: -12px; }
  #footBox > #footImg > #serviceImg { width: 100%; height: 58px; }
  #footBox > #footImg > #awardsImg { width: 121px; height: 63px; padding-top: 10px; padding-left: 26px; }
  #footBox > #footImg > div > img { width: 100%; height: 100%; } }

/*# sourceMappingURL=dolce_sub01.css.map */
