@font-face {
  font-family: 'NanumSquare';
  src: url('./font/NanumSquareL.eot');
  src: url('./font/NanumSquareL.woff') format('woff'),
       url('./font/NanumSquareL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('./font/NanumSquareR.eot');
  src: url('./font/NanumSquareR.woff') format('woff'),
       url('./font/NanumSquareR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('./font/NanumSquareB.eot');
  src: url('./font/NanumSquareB.woff') format('woff'),
       url('./font/NanumSquareB.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('./font/NanumSquareEB.eot');
  src: url('./font/NanumSquareEB.woff') format('woff'),
       url('./font/NanumSquareEB.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'notoSans';
  src: url('./font/NotoSans.eot');
  src: url('./font/NotoSans.woff') format('woff'),
       url('./font/NotoSans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'notoSans';
  src: url('./font/NotoSans-Bold.eot');
  src: url('./font/NotoSans-Bold.woff') format('woff'),
       url('./font/NotoSans-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'notoSansKR';
  src: url('./font/NotoSansKR-Light.eot');
  src: url('./font/NotoSansKR-Light.woff') format('woff'),
       url('./font/NotoSansKR-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'notoSansKR';
  src: url('./font/NotoSansKR-Medium.eot');
  src: url('./font/NotoSansKR-Medium.woff') format('woff'),
       url('./font/NotoSansKR-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'notoSansKR';
  src: url('./font/NotoSansKR-Bold.eot');
  src: url('./font/NotoSansKR-Bold.woff') format('woff'),
       url('./font/NotoSansKR-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'notoSansKR';
  src: url('./font/NotoSansKR-Black.eot');
  src: url('./font/NotoSansKR-Black.woff') format('woff'),
       url('./font/NotoSansKR-Black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

// color list
$white : #fff;
$black : #000;
$gray : #ccc;

$mainB : #0a7fb3;
$darkB : #032d4d;

$fontB : #111;

// set class
.pc_dn{ display: none; }
.sr-only{ width: 0; height: 0; font-size: 0; text-indent: -999999px; }

@media screen and ( max-width: 960px ){
  .pc_dn{ display: block; }
}
