@media screen and ( max-width: 1200px ) and ( min-width: 961px ){

  /* 메인 페이지 */
  #con_main{
    width: 100%; height: auto; min-height: 350px;

    .con_business{ width: 940px; }
    .con_partners{ width: 940px; }
  }//#con_main

  #con_main .con_banner{
    .main_banner .con_slide_text {
      width: 800px;
      h6{ font: 600 46px/46px "NanumSquare"; }
      p{ font: 600 30px/54px "NanumSquare"; }
    }

    .mini_banner{
      width: 950px; background-position: -120px;
      .mini_ban_text{ margin-left: 160px; }
    }
  }//#con_main .con_banner

  #con_main .con_business .con_busi_link{
    height: 300px;
    .busi_content{
      width: 465px; height: 300px; background-size: 465px auto;
      &:first-of-type{ margin-right: 10px; background-size: 465px auto; }

      p{ padding-top: 100px; }
    }
  }//#con_main .con_business .con_busi_link

  /* 서브 페이지 */
  .sub-title{ width: 940px; }
  .sub-content{ width: 940px; }

}

@media screen and ( max-width: 960px ) and ( min-width: 601px ){

  section{ padding-top: 80px; }

  #con_main{
    width: 100%; height: auto; min-height: 350px;

    .con_business{ width: 560px; }
    .con_company{ margin-top: 100px; }
    .con_partners{ width: 560px; padding: 100px 0; }
  }//#con_main

  #con_main .con_banner{
    .main_banner .con_slide_text {
      width: 560px;
      h6{ font: 600 46px/46px "NanumSquare"; }
      p{ font: 600 30px/54px "NanumSquare"; }
    }

    .mini_banner{
      width: 580px; background-position: -80px;
      background: url('../images/bg-quick-banner-m.jpg') right top no-repeat; background-size: cover;
      .mini_ban_text{ width: 480px; margin-top: 35px; margin-left: 50px; }
      .mini_ban_text h6{ color: $darkB; font: 600 32px/40px "NanumSquare"; }
      .mini_ban_text a{ color: $darkB; margin-right: 0; }
      .mini_ban_text p.pc_dn { margin-right: 60px; color: #666; }
    }
  }//#con_main .con_banner

  #con_main .con_business p.pc_dn { width: 450px; margin: 0 auto 50px; text-align: center; line-height: 24px; }
  #con_main .con_business .con_busi_link{
    height: auto;
    .busi_content{
      width: 560px; height: 300px; float: none; margin: 0 auto; background-size: 560px auto;
      &:first-of-type{ margin-right: 0; margin-bottom: 20px; background-size: 560px auto; }

      p{ padding-top: 100px; }
    }
  }//#con_main .con_business .con_busi_link

  /* 서브 페이지 */
  .sub-title{ width: calc(100% - 40px);
    h2{ width: 180px; }
    .mob_sub_tit { display: none; }
    ul{ width: calc(100% - 200px); }
  }
  .sub-content{ width: calc(100% - 40px); }
}

@media screen and ( max-width: 600px ){

  section{ padding-top: 60px; }

  #con_main{
    width: 100%; height: auto; min-height: 350px;

    .con_banner{ width: 100%; height: 450px; }
    .con_business{ width: calc(100% - 40px); height: auto; }
    .con_company{ margin-top: 80px; height: 220px; }
    .con_partners{ width: calc(100% - 40px); padding: 80px 0; }

    h4{ padding-bottom: 15px; font: 600 22px/22px "notoSans"; text-align: center; letter-spacing: 6px; }
    h4 + p{ padding-bottom: 30px; font: 400 14px/22px "notoSansKR"; text-align: center; letter-spacing: -1px; }

    .btn-more{
      width: 200px; height: 45px; padding-left: 20px; font: 400 16px/43px "notoSansKR";

      &::before{ width: 0; height: 43px; }
      &::after{ width: 40px; height: 15px; background: url('../images/btn-dir.png') -8px 0px no-repeat;  margin-right: 20px; }

      &:hover {
        &::before{ width: 198px; }
        &::after{ background-position: -56px 0; }
      }
    }
  }//#con_main

  #con_main .con_banner{
    .main_banner{
      width: 100%; height: 400px; position: relative;
      background: url('../images/con-banner-img01-m.jpg') no-repeat;
      background-size: 100% auto; background-position: center top;

      &::before { background: url('../images/con-banner-img02-m.jpg') no-repeat;
      background-size: 100% auto; background-position: center center; }
      &::after { background: url('../images/con-banner-img03-m.jpg') no-repeat;
      background-size: 100% auto; background-position: center center; }

      .con_slide_text{
        width: calc(100% - 40px); margin-top: -20px;

        h6{ font: 600 28px/40px "NanumSquare"; }
        p{ font: 600 18px/30px "NanumSquare"; }

        &::after{ height: 400px; margin-top: 20px; }
      }
    }//.main_banner

    .mini_banner{
      width: calc(100% - 40px); height: 125px;
      background: url('../images/bg-quick-banner-m.jpg') right top no-repeat; background-size: cover;
      transform: translate(-50%, -40px); -webkit-transform: translate(-50%, -40px);
      .mini_ban_text{ width: calc(100% - 30px); margin-top: 15px; margin-left: 15px; }
      .mini_ban_text h6{ color: $darkB; font: 600 20px/30px "NanumSquare"; }
      .mini_ban_text a{ color: $darkB; margin-right: 0; }
      .mini_ban_text p.pc_dn { margin-right: 8px; color: #666; font-size: 12px; }
    }
  }//#con_main .con_banner

  #con_main .con_business p.pc_dn { width: 100%; margin: 0 auto 30px; text-align: center; font-size: 14px; line-height: 22px; }
  #con_main .con_business .con_busi_link{
    height: auto;
    .busi_content{
      width: 100%; height: 210px; float: none; margin: 0 auto; background-size: 100%;
      &:first-of-type{ margin-right: 0; margin-bottom: 10px; background-size: 100%; }

      p{ padding: 70px 0 15px; font: 400 26px/26px "notoSansKR"; letter-spacing: 2px; }
    }
  }//#con_main .con_business .con_busi_link

  #con_main .con_company{
    h4{ padding: 45px 0 15px ; }
    p{ padding-bottom: 35px; }
    *{ color: $white; }
  }//#con_main .con_company

  #con_main .con_partners{
    .con_ptn_slide{
      &::before, &::after{
        width: 40px; height: 100px;
      }

      &::before{ margin-left: -5px; background: url('../images/con-partner-left_m.png') left top no-repeat; background-size: cover; }
      &::after{ margin-right: -5px; background: url('../images/con-partner-right_m.png') right top no-repeat; background-size: cover; }

    }

    .con_ptn_slide div { height: 40px; margin-left: 0; margin-right: 30px; }
    .con_ptn_slide div img { width: auto; height: 40px; }
    .con_ptn_slide div.slick-list { margin-right: 0; }

    .btn-more{
      margin-top: 35px;

      &::after{ background-position: -104px 0; }

      &:hover{
        color: $white;
        &::after{ background-position: -8px 0; }
      }
    }
  }//#con_main .con_partners

  /* 서브 페이지 */
  .sub-banner{ display: none; }
  .sub-title{ width: 100%; height: auto; padding: 0; background-size: auto 100%; position: relative;
    background: url('../images/con-sub-banner-01-m.jpg') center center no-repeat;
    h2{ width: 100%; height: 200px; padding: 0; float: none; background: rgba(0,0,0,0.3);
      font: 600 40px/220px "NanumBarunGothic"; color: $white; text-align: center; letter-spacing: 8px; }
    h2::before{ display: none; }
    .mob_sub_tit{ width: 100%; height: 50px; background: $darkB; position: relative;
      font: 400 20px/50px "NanumBarunGothic"; color: $white; text-indent: 25px;

      &::before, &::after{ content: ""; display: block; position: absolute;
        width: 2px; height: 10px; background: $white; top: 50%; right: 25px; }
      &::before{ margin-right: 0; margin-top: -9px; transform: rotateZ(-45deg); transition: all 0.5s; }
      &::after{ margin-right: 0; margin-top: -3px; transform: rotateZ(45deg); transition: all 0.5s; }

      &.on{
        &::before{ margin-right: 2px; margin-top: -5px; transform: rotateZ(45deg); transition: all 0.5s; }
        &::after{ margin-right: 8px; margin-top: -5px; transform: rotateZ(135deg); transition: all 0.5s; }
      }
    }
    ul{ width: calc(100% - 30px); height: auto; padding: 15px; display: none;
      background: $white; box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
      position: absolute; bottom: 0; left: 0;
      &::after{ display: none; }
      li{ width: 100%; padding: 0; float: none; text-indent: 20px; border: 0;
        &.on{ border: 0; }
      }
    }
  }
  .sub-content{ width: calc(100% - 40px); padding-top: 30px;  }

  #sub-logis{
    .sub-title ul{ margin-bottom: -180px; }
  }
}
