@import "basic";

#wrap {
  width: 100%; height: auto; background: $white; display: block; overflow: hidden;
}

header{
  width: calc(100% - 100px); height: 60px; margin: 0 auto; padding: 20px 0;

  h1{ width: 335px; height: 32px; padding-top: 14px; float: left; }
  h1 img{ width: 100%; }
  nav{ width: calc(100% - 335px); height: 60px; float: left; position: relative;
    ul{ width: 580px; height: 50px; padding: 5px 0; position: absolute; left: 50%; margin-left: -458px;
      li{ width: auto; padding: 0 10px; margin: 0 15px; float: left; }
      a{ font: 600 20px/50px "notoSansKR"; color: $fontB; position: relative;
        &::after{
          position: absolute; display: block; content: ""; width: 0; height: 2px; background: $mainB;
          bottom: -2px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%);
          transition: all .5s; -webkit-transition: all .5s;
        }

        &:hover, &.act{
           color: $mainB;

           &::after{ width: calc(100% + 20px); transition: all .5s; -webkit-transition: all .5s; }
        }
      }
    }
  }
  .btn_inquire{
    width: 165px; height: 60px; float: right; background: $mainB; border-radius: 5px;
    color: $white; font: 600 20px/60px "notoSansKR"; text-align: center;
    transition: all 0.3s; -webkit-transition: all 0.3s;

    &:hover{ background: rgba($darkB, 0.8); transition: all 0.3s; -webkit-transition: all 0.3s; }
  }
}

footer{
  width: 100%; height: 190px; padding-top: 60px; background: #022e4d;

  .footer{ width: 1200px; height: auto; margin: 0 auto; }
  .foot_info{ width: 640px; float: left; color: $white;
    h5{ padding-bottom: 18px; font: 600 18px/28px "notoSansKR"; }
    ul{ width: 100%; display: inline-block; }
    li{ width: auto; margin-right: 40px; float: left; font: 400 15px/25px "notoSansKR"; position: relative;
      &:last-of-type{ margin-right: 0; }
      &::after{ content: ""; display: block; position: absolute; top: 50%; right: -21px; margin-top: -6px;
      width: 2px; height: 10px; background: $white; }
      &.deco_none::after{ display: none; }
    }
    p{ width: 100%; display: block; font: 400 12px/24px "notoSansKR"; }
  }
  .foot_logo{ width: 500px; padding-top: 50px; float: right;
    img{ display: block; float: right; }
  }
}

@media screen and ( max-width: 1400px ) and ( min-width: 1201px ){
  header{
    width: calc(100% - 40px);

    h1{ width: 300px; height: 30px; padding-top: 15px; }
    nav{ width: calc(100% - 300px); }
    nav ul{ margin-left: -410px; }
    .btn_inquire{ height: 54px; margin-top: 3px; font: 600 20px/54px "notoSansKR"; }
  }

  footer .footer{ width: 1150px; }
}

@media screen and ( max-width: 1200px ) and ( min-width: 961px ){
  header{
    width: calc(100% - 20px); height: 50px; padding: 12px 0;

    h1{ width: 300px; height: 30px; padding-top: 10px; }
    nav{ width: calc(100% - 300px);
      ul{ width: 406px; left: auto; right: 0; margin-right: 170px; padding: 0;
        li{ padding: 0 4px; margin: 0 4px; }
        a{ font: 600 18px/50px "notoSansKR"; }
        a:hover::after, a.act::after{ width: calc(100% + 8px);}
      }
    }
    .btn_inquire{ width: 150px; height: 50px; margin-top: 0; font: 600 18px/50px "notoSansKR"; }
  }

  footer {
    .footer{ width: 940px; }
    .foot_logo{ width: 300px; }
    .foot_logo img{ width: 100%; }
  }
}

// 모바일 버전 전체 틀
@media screen and ( max-width: 960px ){

  header{ position: relative;

    .call_btn{ float: left; }

    h1{ padding-top: 0; position: absolute; top: 50%; left: 50%;
      transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);}

    .menu_btn{ display: block; float: right; position: relative; border-top: 2px solid $darkB;
      &::before, &::after{
        position: absolute; display: block; content: "";
        height: 2px; background: $darkB; top: 0; right: 0;
      }
    }

    .menu_bg{
      display: none; width: 100vw; height: 100vh; background: rgba(20,20,20,0.6);
      position: absolute; top: 0; left: 0; z-index: 90;
    }

    nav{ width: 240px; height: 100vh; display: block; padding: 30px; float: none; background: $white;
      position: absolute; top: 0; right: 0; z-index: 100; margin-right: -300px;

      a.menu_close_btn{
        width: 40px; height: 40px; float: right; display: block;
        position: relative; background: $darkB;
        &::before,&::after{
          position: absolute; display: block; content: "";
          width: 2px; height: 24px; background: $white; top: 50%; left: 50%;
        }
        &::before{
          transform: rotateZ(45deg); -webkit-transform: rotateZ(45deg); margin-top: -11px;
        }
        &::after{
          transform: rotateZ(-45deg); -webkit-transform: rotateZ(-45deg); margin-top: -11px;
        }
      }//a.menu_close_btn

      ul{ width: 240px; height: auto; padding-top: 70px; position: static; left: auto; margin-left: 0;
        li{ width: 100%; height: 50px; padding: 0; margin: 0; display: block; float: none; }
        // li:first-of-type{ height: 40px; margin-bottom: 30px; }
        a{ font: 600 18px/50px "notoSansKR";
          &::before,&::after{
            position: absolute; display: block; content: "";
            width: 2px; height: 10px; background: $black; bottom: 50%; left: auto; right: 0;
            transition: none; -webkit-transition: none; margin-right: 5px;
          }
          &::before{
            transform: rotateZ(45deg); -webkit-transform: rotateZ(45deg); margin-bottom: -7px;
          }
          &::after{
            transform: rotateZ(-45deg); -webkit-transform: rotateZ(-45deg); margin-bottom: -1px;
          }
          &:hover, &.act{
             color: #185e94;

             &::before, &::after{ width: 2px; height: 10px; background: #185e94; transition: none; -webkit-transition: none; }
          }
        }// menu list
      }//nav > ul
      .btn_inquire{
        width: 250px; height: 50px; margin-top: 50px; font: 600 18px/50px "notoSansKR";
      }
    }//nav
  }//header

  footer{
    width: calc(100% - 40px); height: auto; padding: 90px 20px 60px;
    background-image: linear-gradient(130deg, #022d4d 40%, #005074);

    .footer{ width: calc(100% - 20px); height: auto; }
    .foot_logo{ padding-top: 0; padding-bottom: 65px; float: none; }
    .foot_logo img{ float: none; margin: 0 auto; }
    .foot_info{ float: none; }
    .foot_info p{ padding-top: 35px; }
  }
}

@media screen and ( max-width: 960px ) and ( min-width: 601px ){
  header{
    width: calc(100% - 30px); height: 60px; padding: 10px 15px;
    .call_btn{ width: 50px; height: 50px; padding: 5px; }
    .menu_btn{ width: 50px; height: 32px; margin-top: 14px;
      &::before{ width: 40px; margin-top: 14px; }
      &::after{ width: 30px; margin-top: 30px;  }
    }
  }

  footer{
    .foot_logo{ width: 100%; }
    .foot_logo img{ width: auto; }
    .foot_info li{ margin-right: 20px; }
    .foot_info li::after{ height: 2px; margin-top: -2px; right: -11px; }
  }
}

@media screen and ( max-width: 600px ) {
  header{
    width: calc(100% - 24px); height: 40px; padding: 10px 12px;
    .call_btn{ width: 40px; height: 40px; }
    .call_btn img{ width: 100%; }
    h1{ width: 260px; height: 25px; }
    .menu_btn{ width: 32px; height: 30px; margin-top: 8px;
      &::before{ width: 27px; margin-top: 10px; }
      &::after{ width: 22px; margin-top: 22px;  }
    }
  }

  footer{
    .foot_logo{ width: 100%; }
    .foot_logo img{ width: 340px; }
    .foot_info li{ width: 100%; float: none; margin-right: 0; margin-bottom: 3px; }
    .foot_info li::after{ display:none; }
  }
}
