
@media screen and (min-width: 1201px) and (max-width: 1500px){
  #wrap {
    nav{ width: 270px; }
    nav.on{ width: 290px; }
    section { width: calc(100% - 270px);}
  }

  nav{
    button{ width: 30px; height: 30px; margin-top: -15px; margin-left: 10px; }
    div{ width: calc(100% - 55px); }
    div li a{ height: 28px; font: 500 18px/28px 'Rajdhani', sans-serif; }
    div .title{ height: 42px; margin-bottom: 5px; font: 500 28px/42px 'Rajdhani', sans-serif; }
  }

  .slide_main{ width: 100%; }
}

@media screen and (min-width: 961px) and (max-width: 1200px){
  #wrap {
    nav{ width: 230px; }
    nav.on{ width: 240px; }
    section { width: calc(100% - 230px);}
  }

  nav{
    button{ width: 30px; height: 30px; margin-top: -190px; margin-left: 30px; }
    div{ width: calc(100% - 30px); }
    div li a{ height: 28px; font: 500 18px/28px 'Rajdhani', sans-serif; }
    div .title{ height: 42px; margin-bottom: 5px; font: 500 24px/42px 'Rajdhani', sans-serif; }
    div li a::after { width: 12px; margin-right: -6px; margin-top: -2px; }
  }

  .slide_main{ width: 100%; }
}
