/* Subpage Hader, Nav , Footer Style Sheet */

/*
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Rajdhani', sans-serif;
*/

@font-face {
  font-family: 'NanumSquare';
  src: url('./NanumSquareL.eot');
  src: url('./NanumSquareL.woff') format('woff'),
       url('./NanumSquareL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('./NanumSquareR.eot');
  src: url('./NanumSquareR.woff') format('woff'),
       url('./NanumSquareR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('./NanumSquareB.eot');
  src: url('./NanumSquareB.woff') format('woff'),
       url('./NanumSquareB.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('./NanumSquareEB.eot');
  src: url('./NanumSquareEB.woff') format('woff'),
       url('./NanumSquareEB.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

#wrap{
    width: 100%; height: auto; min-height: 100%; overflow: hidden;

    // sub page common nav
    nav{
        width: 320px; height: 100%; background: #fafafa;
        position: fixed; top: 0; left: 0; z-index: 15; overflow: hidden;
        transition: all 0.5s; -webkit-transition: all 0.5s;

        &.on{width: 350px;}
    }

    .gnb_back{
        width: 100%; height: 100%; background: rgba(20,20,20,0.2);
        position: fixed; top: 0; left: 0; z-index: 5; opacity: 0; display: none;
        transition: opacity 0.5s; -webkit-transition: opacity 0.5s;

        &.on{ opacity: 1; display: block; }
    }
}

/* Subpage Common Nav*/
nav {
    button{
        width: 40px; height: 40px;
        position: absolute; top: 50%; left: 0; margin-top: -20px; margin-left: 20px;

        &:before, &:after{
            content: ""; display: block; width: 12px; height: 2px; background: #222;
            position: absolute; top: 50%; left: 50%; margin-left: -6px;
            // transition: all 0.5s; -webkit-transition: all 0.5s;
        }

        &:before{ transform: rotate(-45deg); }
        &:after{ transform: rotate(45deg); }

        &.open{
            &:before{ margin-top: -4px; }
            &:after{ margin-top: 3px; }
        }

        &.close{
            &:before{ margin-top: 0; animation: navBtnCloseTop 0.6s 1; }
            &:after{ margin-top: 0; animation: navBtnCloseBottom 0.6s 0.1s 1; }
        }

        &.reopen{
            &:before{ margin-top: -4px; animation: navBtnOpenTop 0.6s 1; }
            &:after{ margin-top: 3px; animation: navBtnOpenBottom 0.6s 0.1s 1; }
        }
    }

    div{
        width: calc(100% - 90px); height: auto;
        position: absolute; top: 50%; right: -100%; transform: translateY(-50%); -webkit-transform: translateY(-50%);
        transition: all 0.5s; -webkit-transition: all 0.5s;

        li{
            width: 100%; height: auto; margin: 5px 0;
            a{
                max-width: calc(100% - 30px); height: 30px; padding-right: 10px; display: inline-block; position: relative;
                font: 500 20px/30px 'Rajdhani', sans-serif; color: #222;

                &::after{
                    content: ""; display: block; width: 20px; height: 3px;
                    position: absolute; top: 50%; right: 0; margin-top: -1px; margin-right: -20px;
                }
            }

            ul{ height: 0; overflow: hidden; transition: height 0.5s; -webkit-transition: height 0.5s; }
        }

        .title{
            height: 50px; margin-bottom: 10px;
            font: 600 30px/50px 'Rajdhani', sans-serif;

            &:last-of-type{ margin-bottom: 0; }
        }

        &.all_gnb{ right: 100%;
            .themeR.open .title,
            .themeR .title:hover { color : #bf000c; }

            .themeB.open .title,
            .themeB .title:hover { color : #003496; }

            .themeG.open .title,
            .themeG .title:hover { color : #009975; }

            li a { max-width: calc(100% - 30px);}

        }

        &.on{ right: 0; transition: all 0.5s; -webkit-transition: all 0.5s; }

        .themeR{
            li a:hover::after,
            .act::after{ background: linear-gradient(90deg, #ff6768, #f7f7f7); }
        }
        .themeB{
            li a:hover::after,
            .act::after{ background: linear-gradient(90deg, #064acb, #f7f7f7); }
        }
        .themeG{
            li a:hover::after,
            .act::after{ background: linear-gradient(90deg, #009975, #f7f7f7); }
        }

        .open{
            > ul{ height: auto; transition: height 0.5s; -webkit-transition: height 0.5s; }
            &.themeR > ul { height: 90px; }
            &.themeB > ul { height: 160px; }
        }
    }


}

// nav animation setting
@keyframes navBtnCloseTop{
    0%{ margin-top: -4px; margin-left: -6px; opacity: 1; }
    45%{ margin-top: -11px; margin-left: 1px; opacity: 0; }
    55%{ margin-top: 7px; margin-left: -13px; opacity: 0; }
    100%{ margin-top: 0px; margin-left: -6px; opacity: 1; }
}

@keyframes navBtnOpenTop{
    0%{ margin-top: 0px; margin-left: -6px; opacity: 1; }
    45%{ margin-top: 7px; margin-left: -13px; opacity: 0; }
    55%{ margin-top: -11px; margin-left: 1px; opacity: 0; }
    100%{ margin-top: -4px; margin-left: -6px; opacity: 1; }
}
@keyframes navBtnCloseBottom{
    0%{ margin-top: 3px; margin-left: -6px; opacity: 1; }
    45%{ margin-top: 10px; margin-left: 1px; opacity: 0; }
    55%{ margin-top: -7px; margin-left: -13px; opacity: 0; }
    100%{ margin-top: 0px; margin-left: -6px; opacity: 1; }
}

@keyframes navBtnOpenBottom{
    0%{ margin-top: 0px; margin-left: -6px; opacity: 1; }
    45%{ margin-top: -7px; margin-left: -13px; opacity: 0; }
    55%{ margin-top: 10px; margin-left: 1px; opacity: 0; }
    100%{ margin-top: 3px; margin-left: -6px; opacity: 1; }
}
