/* Subpage Style Sheet */

/*
font-family: 'Staatliches', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Monoton', cursive;
*/

#wrap{
  width: 100%; overflow: hidden;

  section{
    width: calc(100% - 320px); height: auto; float: right; position: relative;

    [class*="section_"] {
      padding: 6%;

      h3{ width: 100%; height: 50px; margin-bottom: 50px; position: relative;
        font: 500 35px/50px 'Noto Sans KR','Noto Sans',sans-serif; color: #222;

        &:after{
          content: ""; display: block; width: 30px; height: 3px;
          position: absolute; bottom: 0; left: 0; margin-bottom: -5px;
        }
      }
    }

    .section_logo h3:after{background-image: linear-gradient(45deg, #ffaf65, #f36886, #ff5959);}
    .section_history h3:after{background-image: linear-gradient(45deg, #c40b13 35%, #621295, #f69314);}
    .section_resume h3:after{background-image: linear-gradient(45deg, #323232, #ff0b55, #ffdee6);}

    .section_contact h3:after{background-image: linear-gradient(45deg, #0b8457, #a1dd70);}
  }
}

// page : logo&history
.section_logo{ height: 1800px;
  > div { width: 100%; height: 1800px; position: relative;

    [class*="imgbox-"]{
      position: absolute; top: 0; left: 0;

      img { width: auto; height: auto; display: block; }
      .cover { position: absolute; top: 0; left: 0; }
    }

    .imgbox-01 { margin-top: 0; margin-left: 0; }
    .imgbox-02 { margin-top: 800px; margin-left: 110px; }
    .imgbox-03 { margin-top: 1300px; left: 50%; margin-left: 20px; }

  //   width: 100%; height: auto; position: relative;
  //
  //   [class*="imgbox-"]{
  //     position: absolute; top: 0; left: 0;
  //
  //     img{ width: auto; display: block;
  //       &.cover{position: absolute; top: 0; left: 0; z-index: 10;}
  //     }
  //   }
  //
  //   .imgbox-01 {
  //     width: 0; height: 600px; background: #123465;
  //     transition: all 1s; -webkit-transition: all 1s;
  //     &.on{
  //       width: 800px;
  //
  //       .cover{display: none; transition: all 1.2s 0.01s ; -webkit-transition: all 1.2s 0.01s;}
  //     }
  //   }
  //   .imgbox-02 { opacity: 0; width: 24.1%; max-width: 400px; margin: -120px 80px 0 110px; }
  //   .imgbox-03 { opacity: 0; width: 36.2%; max-width: 600px; margin: 120px 0 0 160px; }
  //   // .imgbox-04 { width: 42.1%; max-width: 550px; height: 300px; margin: -240px 0; background: #a33f56; display: none;}
  //
    .text_group{
      width: 37.8%; height: auto; position: absolute; top: 0; right: 0;  margin-top: 350px; margin-right: 30px;
      p {
        width: auto; height: auto; margin-bottom: 25px;
        font: 500 16px/30px 'Noto Sans KR','Noto Sans',sans-serif; color: #222;
      }
    }
  }
}

.section_history{ height: 800px;
  div {
    width: 100%; height: 100%; position: relative;

    p{ padding-left: 180px; font: 500 16px/30px 'Noto Sans KR','Noto Sans',sans-serif; color: #222; }

    a{
      display: block; position: absolute; top: 50%; left: 50%;

      &:first-of-type{ width: 450px; height: 320px; background: #197358; margin-top: -200px; margin-left: -600px; }
      &:last-of-type{ width: 500px; height: 380px; background: #f59758; margin-top: -90px; }

    }
  }
}

// page : Resume
.resume_container{
  .left { float: left; }
  .right { float: right; }

  .resume_intro{
    height: 350px; padding-bottom: 50px;

    .left{
      width: 72%; height: auto; margin-right: 8%;

      h2{ padding-bottom: 25px; font: 600 25px/35px 'NanumSquare', 'Noto Sans KR','Noto Sans',sans-serif; color: #222; text-indent: 25px; }
      p { padding: 7px 0; font: 400 16px/26px 'Noto Sans KR','Noto Sans',sans-serif; color: #555; letter-spacing: -0.25px; }
    }

    .right{
      width: 20%; height: auto;

      img{ width: 100%; height: 300px; background: #fa0; display: block;}
    }
  }//.resume_intro

  .resume_infomation{
    .full{
      width: 100%; margin-bottom: 100px;

      &.basic_info{ height: 250px; }
      &.career { height: auto; }
      &.ability { height: auto; }
      &.hobby { height: 300px; }

      > div{ width: 50%; height: 100%; }
    }

    h6{ padding-bottom: 50px; font: 600 25px/35px 'NanumSquare','Noto Sans KR','Noto Sans',sans-serif; }

    .basic {
      dl *{ float: left; font: 400 16px/35px 'Noto Sans KR','Noto Sans',sans-serif; }
      dt { width: 150px; }
      dd { width: calc(100% - 150px); }

      &::before, &::after{ content: " "; display: block; clear: both; }
    }

    .license{

      li{ width: 25%; height: 150px; float: left; }
      dt { width: 100%; font: 400 16px/26px 'Noto Sans KR','Noto Sans',sans-serif; text-align: center; }
      span{ font: 400 12px/26px 'Noto Sans KR','Noto Sans',sans-serif; }
      dd { width: 100px; height: 100px; margin: 0 auto 15px; background: #0af; display: block; }
    }

    .career{
      h6{ padding-bottom: 20px; }
      ul{ width: 90%; height: 160px; display: block; margin: 0 auto; position: relative;
        li{
          width: auto; height: auto; display: block; position: absolute; top: 0; left: 0;
          &::before,&::after{
            content: ""; display: block; background: #555; position: absolute; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%);
          }
          &::before{ width: 8px; height: 8px; border-radius: 50%; }
          &::after{ width: 1px; }
        }

        p{
          font: 400 14px/22px 'Noto Sans KR','Noto Sans',sans-serif; color: #222; position: relative; text-indent: 10px; color: #666;

          &:first-of-type{ font: 600 16px/26px 'Noto Sans KR','Noto Sans',sans-serif; color: #222; text-indent: 0; text-align: center; }
        }

        p ~ p::before{
          content: ""; position: absolute; width: 5px; height: 1px; top: 50%; left: 0;
          background: #666;
        }
      }

      ul ~ ul::before{
        content: ""; display: block; width: calc(100% + 20px); height: 2px; background: #555; position: absolute; top: 0; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%);
      }

      .company{
        li{
          &::before,&::after{ bottom: 0; }
        }

        li:nth-of-type(1){
          margin-top: 25px; margin-left: 150px;
          &::before,&::after{ margin-bottom: -70px; }
          &::after{ height: 60px; }
        }

        li:nth-of-type(2){
          margin-top: 45px; margin-left: 550px;
          &::before,&::after{ margin-bottom: -50px; }
          &::after{ height: 40px; }
        }

        li:nth-of-type(3){
          margin-top: 30px; margin-left: 800px;
          &::before,&::after{ margin-bottom: -65px; }
          &::after{ height: 55px; }
        }
      }

      .education{
        li{
          &::before,&::after{ top: 0; }
        }

        li:nth-of-type(1){
          margin-top: 60px; margin-left: 15px;
          &::before,&::after{ margin-top: -63px; }
          &::after{ height: 55px;}
        }

        li:nth-of-type(2){
          margin-top: 40px; margin-left: 350px;
          &::before,&::after{ margin-top: -43px; }
          &::after{ height: 35px;}
        }

        li:nth-of-type(3){
          margin-top: 65px; margin-left: 900px;
          &::before,&::after{ margin-top: -68px; }
          &::after{ height: 60px;}
        }
      }
    }

    .ability{
      ul{ display: flex; }
      li{ flex: 1 0 0;}

      img{ width: 60px; height: 60px; background: #fa9; display: block; float: left; margin-right: 10px; }

      div{ width: calc(100% - 90px); float: left; }
      span{ font: 400 12px/15px 'Noto Sans KR','Noto Sans',sans-serif; letter-spacing: 0.5px; }
      p{
        width: 100%; margin-top: 25px; font: 400 12px/15px 'Noto Sans KR','Noto Sans',sans-serif; letter-spacing: 0.5px; position: relative;

        &::before, &::after{
          content: ""; display: block; position: absolute; top: 0; left: 0; height: 14px; margin-top: -18px;
        }

        &::before { width: 100%; background: #f1f1f1; }
      }

      li:nth-of-type(1){
        p{ text-indent: 70%; }
        p::after{ width: 90%; background-image: linear-gradient(45deg, #323232, #ff5f2e, #ffdee6); }
      }

      li:nth-of-type(2){
        p{ text-indent: 70%; }
        p::after{ width: 90%; background-image: linear-gradient(45deg, #323232, #4F86C6, #ffdee6); }
      }

      li:nth-of-type(3){
        p{ text-indent: 70%; }
        p::after{ width: 50%; background-image: linear-gradient(45deg, #323232, #FFBC42, #ffdee6); }
      }

      li:nth-of-type(4){
        p{ text-indent: 70%; }
        p::after{ width: 70%; background-image: linear-gradient(45deg, #323232, #353866, #ffdee6); }
      }

      li:nth-of-type(5){
        p{ text-indent: 70%; }
        p::after{ width: 60%; background-image: linear-gradient(45deg, #323232, #353866, #ffdee6); }
      }

      li:nth-of-type(6){
        p{ text-indent: 70%; }
        p::after{ width: 60%; background-image: linear-gradient(45deg, #323232, #f1404b, #285943, #ffdee6); }
      }
    }

    .hobby{ display: none;
      li{ width: 20%; float: left; }
      img{ width: 150px; display: block; margin: 0 auto; }
      p{ font: 400 16px/26px 'Noto Sans KR','Noto Sans',sans-serif; text-align: center; }
    }
  }
}

// page : portfolio slide
.slide_main{
  width: 1300px; height: 100vh; float: left; background: #eee; position: relative; overflow: hidden;

  > div { display: none; }
  > .on { display: block; }

  .slideBox{
    width: 100%; height: 938px; padding: 50px; position: absolute; top: 0; left: 0; box-sizing: border-box;

    ul{
      width: 100%; height: 50px; display: table;

      li{ width: 30%; height: 50px; display: table-cell;
        font: 500 14px/50px 'Noto Sans KR','Noto Sans',sans-serif; color: #222; text-align: center;

        &:first-of-type { text-align: left;}
        &:last-of-type { text-align: right;}
      }
    }

    h6{ padding-top: 50px; font: 500 20px/32px 'Noto Sans KR','Noto Sans',sans-serif; color: #222; }
    p{ font: 500 16px/24px 'Noto Sans KR','Noto Sans',sans-serif; color: #222; }

    button{
      width: 50px; height: 50px; background: #fff; border: 0;
      position: absolute; bottom: 0; right: 0; margin-bottom: 50px; margin-right: 50px;

      &.act{ opacity: 1; transition: all 0.5s 0.3s; -webkit-transition: all 0.5s 0.3s; }

      &:before, &:after{
        content: " "; display: block; width: 17px; height: 3px; background: #222;
        position: absolute; top: 50%; left: 50%;
      }

      &:before{ transform: rotate(90deg); margin-left: -8px;}
      &:after{ margin-left: -8px;}

      span{ width: 0; height: 0; display: none; font: 0; text-indent: -9999px; }
    }
  }
}

.slide_btn{
  width: 105px; height: 50px;
  position: absolute; bottom: 0; left: 50%; margin-bottom: 50px; margin-left: 525px;

  button{ width: 50px; height: 50px; border: 0; background: #222; position: relative; cursor: pointer;

    &:before, &:after{
      content: " "; display: block; width: 17px; height: 3px; background: #fff;
      position: absolute; top: 50%; left: 50%;
    }

    &.prev{
      &:before{ transform: rotate(-45deg); margin-top: -7px; margin-left: -8px;}
      &:after{ transform: rotate(45deg); margin-top: 4px; margin-left: -8px;}
    }

    &.next{ float: right;
      &:before{ transform: rotate(45deg); margin-top: -7px; margin-left: -8px;}
      &:after{ transform: rotate(-45deg); margin-top: 4px; margin-left: -8px;}
    }

    &.disable{ opacity: 0.7; }
  }
}

.slide_side{
  width: calc(100% - 1300px); height: 100vh; float: left; background: #989898;
  overflow: hidden; position: relative;

  .slide_side_cover{
    width: 1500px; height: 500px; position: absolute; top: 0; left: 0; margin-left: -250px;
    transition: all 0.5s; -webkit-transition: all 0.5s;
  }

  .slideList{
    width: 250px; height: 100%; float: left; padding-top: 150px; opacity: 0.5;

    *{ color: #fff; }
    p{ font: 400 15px/25px 'Noto Sans', sans-serif; text-indent: 25px; }
    h6{ font: 600 18px/32px 'Noto Sans', sans-serif; text-indent: 25px; }

    &.on{ opacity: 1; }
  }
}
