/* dolce_sub01_article.css */

/* article_container 공통*/
 
#wrap>#article_box{ width: 900px; height: 214px;}
#wrap>article{width: 900px; padding-top:40px; padding-left:10px; left:50%;
    >h3{height: 50px; font-size:$bicFont; font-weight: bold; color:$mainRed; margin:0 auto;}
    >h4{height: 30px; font-size:$normalFont;font-weight: bold; margin:0 auto;}
    >p{height: auto; font-size: $normalFont;}
    >div{background-repeat:no-repeat; background-position:center center;}
}

.con_ub{width: 900px; height: 20px; border-bottom: $bottomStyle; }//container under bar


/* #container_01*/
#wrap>#container_01{ height: 600px; 
    >h4{width: 96px;}
    >h3{width: 365px;}
    >.text_01{width: 430px; margin-top:80px;float:left;
        >p{width: 100%;font-size:1.2rem; font-weight: bold;}
        >dl{width: 100%;height: 100% ;
            >dt{width: 100%;height: 100%; font-size: 1.1rem; font-weight: bold;margin-top:30px; color:$mainRed; }
            >dd{width: 100%;height: 100%; font-size: 1rem;}
        }//dl
    }//.text_01
    >div:last-child{width: 405px; height: 516px; background-image:url("../img/article_01/con_01.png"); float:right; 
        background-size:80%; background-position: center right;}
}//#container_01


/* #container_02*/
#wrap>#container_02{height: 580px;
    >h4{width: 56px;}
    >h3{width: 182px;}
    >p{width: 100%;margin-top:50px;}
    >div{float:left; margin-top:50px; margin-right:52px; 
        &:first-of-type{padding-left:15px;}
        &:last-of-type{float:left; margin-right:0;}
        >dl{width: 100%;height: 100%;
            >dt{width: 100%;height: 100%;font-size: 1rem;font-weight: bold;margin-top:30px; color:$mainRed;}
            >dd{width: 100%;height: 100%;}
        }//dl
    }//div
}//#container_02


/* #container_03*/
#wrap>#container_03{height: 1970px;
    >h4{width: 56px;}
    >h3{width: 206px;}
    >div{width: 50%;
        &.text_03{height: auto;}
        &.box_01{float:left;}
        &.box_02{float:right;}
        &.box_03{float:left;}
        &.box_04{float:right;}
        &.box_05{float:left;}
//        &.box_03{height:500px;}
    }//div
    >.text_03>p{width: 100%;height: auto;
        &:first-of-type {font-size: 1.1rem; font-weight: bold; color:$mainRed; margin-top:100px; }
        &:last-of-type {font-size: 1rem; margin-top:20px; }
    }//.text_03
    >.pic_01{height: 270px; background-image:url("../img/article_03/picture_01.png"); 
            float:right; margin-top:100px; background-size:70%;}
    >.pic_02{height: 270px; background-image:url("../img/article_03/picture_02.png"); 
            float:left; margin-top:20px;background-size:90%; margin-top:155px;}
    >.pic_03{height: 270px; background-image:url("../img/article_03/picture_03.png"); 
            float:right; margin-top:20px; background-size:80%; margin-top:80px; }
    >.pic_04{height: 290px; background-image:url("../img/article_03/picture_04.png"); 
            float:left; margin-top:20px;background-size:80%; margin-top:60px;}
    >.pic_05{height: 310px; background-image:url("../img/article_03/picture_05.png"); 
            float:right; margin-top:20px;background-size:70%;}
}//#container_03


/* #container_04*/
#wrap>#container_04{height: 370px;
    >h4{width: 114px;}
    >h3{width: 206px;}
    >p{width: 50%; float:right; margin-top:100px;}
    >div{width: 50%; height: 300px;background-image:url("../img/article_04/picture_01.jpg"); background-size:80%; float: left;}
}//#container_04


/* #container_05*/
#wrap>#container_05{height: 450px;
    >h4{width: 142px;}
    >h3{width: 128px;}
    >p{width: 60%; float:  left; margin-top:100px;}
    >div{ width: 40%; height: 300px;background-image:url("../img/article_05/picture_01.png"); float:right; 
        background-size:80%; background-position: center right;}
}//#container_05
