/* login_pop.css */
@media screen and (max-width: 509px) {
  /* popup_mos_340px.css*/
  #popUpStage {
    width: calc(100% - 60px);
    height: 800px;
    padding: 30px; }
    #popUpStage > h1 {
      width: 100%;
      height: 60px;
      text-align: center;
      color: #ba1822;
      border-bottom: 2px solid #bdc4c4; }
    #popUpStage > form {
      width: 100%;
      height: 330px; }
      #popUpStage > form > fieldset > legend {
        width: 0;
        height: 0;
        display: block;
        font-size: 0; }
      #popUpStage > form > #login {
        width: 100%;
        height: 200px; }
      #popUpStage > form > #enter {
        width: 100%;
        height: 50px; }
      #popUpStage > form > #findPerson {
        width: 95%;
        height: 50px; }
  #login > ul {
    width: 80%;
    height: 160px;
    padding: 20px 10%; }
    #login > ul > li {
      width: 100%;
      height: 50%; }
      #login > ul > li > dl {
        width: 100%;
        height: 100%; }
        #login > ul > li > dl > dt {
          width: 100%;
          height: 40%;
          padding-bottom: 2%; }
          #login > ul > li > dl > dt > label {
            width: 100%;
            height: 100%;
            font-size: 5.2vw;
            /*1.1rem*/
            line-height: 200%; }
        #login > ul > li > dl > dd {
          width: 100%;
          height: 50%; }
          #login > ul > li > dl > dd > input {
            width: 100%;
            height: 100%;
            font-size: 4.7vw;
            /*1rem*/
            line-height: 200%;
            text-indent: 10px;
            border: 1px solid #bdc4c4;
            border-radius: 3%; }
      #login > ul > li:nth-child(1) > dl > dd {
        height: 40%;
        padding-bottom: 10%; }
  #enter {
    padding-bottom: 30px; }
    #enter > button {
      width: 100%;
      height: 100%;
      background-color: #ba1822;
      font-size: 5.6vw;
      /*1.2rem*/
      color: #fff;
      font-weight: bold; }
  #findPerson {
    padding-top: 20px;
    border-top: 2px solid #bdc4c4;
    padding-left: 5%; }
    #findPerson > button {
      width: 35%;
      float: left;
      font-size: 3.7vw;
      /*0.8rem*/
      background-color: transparent; }
      #findPerson > button:nth-child(2) {
        width: 30%; }
      #findPerson > button:nth-child(6) {
        width: 25%; }
      #findPerson > button > a {
        width: 100%;
        font-size: 3.7vw;
        /*0.8rem*/ }
    #findPerson > span {
      width: 5px;
      height: 5px;
      margin-top: 5px;
      border-radius: 50%;
      font-size: 0;
      background-color: #ba1822;
      display: block;
      float: left; } }

@media screen and (min-width: 510px) {
  /* popup_pc.css*/
  #popUpStage {
    width: 500px;
    height: 310px;
    padding: 10px; }
    #popUpStage > h1 {
      width: 450px;
      height: 50px;
      padding-left: 30px;
      padding-bottom: 10px;
      color: #ba1822;
      border-bottom: 2px solid #bdc4c4; }
    #popUpStage > form {
      width: 100%;
      height: 270px; }
      #popUpStage > form > fieldset > legend {
        width: 0;
        height: 0;
        display: block;
        font-size: 0; }
      #popUpStage > form > #login {
        width: 70%;
        height: 200px;
        float: left; }
      #popUpStage > form > #enter {
        width: 30%;
        height: 200px;
        float: left; }
      #popUpStage > form > #findPerson {
        width: 100%;
        height: 30px;
        float: left; }
  #login > ul {
    width: 80%;
    height: 160px;
    padding: 20px 36px; }
    #login > ul > li {
      width: 100%;
      height: 50%; }
      #login > ul > li > dl {
        width: 100%;
        height: 100%; }
        #login > ul > li > dl > dt {
          width: 100%;
          height: 40%; }
          #login > ul > li > dl > dt > label {
            width: 100%;
            height: 100%;
            font-size: 1.1rem;
            line-height: 200%; }
        #login > ul > li > dl > dd {
          width: 100%;
          height: 50%; }
          #login > ul > li > dl > dd > input {
            width: 100%;
            height: 100%;
            font-size: 1rem;
            line-height: 200%;
            text-indent: 10px;
            border: 1px solid #bdc4c4;
            border-radius: 3%; }
      #login > ul > li:nth-child(1) > dl > dd {
        height: 40%;
        padding-bottom: 10%; }
  #enter > button {
    width: 60%;
    height: 60%;
    margin-top: 35%;
    margin-right: 20%;
    background-color: #ba1822;
    border-radius: 5%;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold; }
  #findPerson {
    border-top: 2px solid #bdc4c4;
    padding-top: 10px; }
    #findPerson > button {
      width: 140px;
      height: 50%;
      float: left;
      font-size: 1rem;
      background-color: transparent;
      text-align: center; }
      #findPerson > button:nth-child(2) {
        width: 120px;
        margin-left: 52.5px; }
      #findPerson > button > a {
        width: 105px;
        height: 100%;
        font-size: 1rem;
        text-align: center;
        line-height: 155%; }
    #findPerson > span {
      width: 5px;
      height: 5px;
      float: left;
      background-color: #ba1822;
      border-radius: 50%;
      display: block;
      font-size: 0;
      margin-top: 8px; } }
