@charset "UTF-8";
/* sub02_tab01.css */
/* 가상클래스 불러오기 @extend %hidden */
/*#wrap{width: 100%; height: auto;}*/
#wrap {
  width: 100%;
  height: auto; }

#wrap > * {
  margin: 0 auto; }

@media screen and (max-width: 679px) {
  /* PhotoShop 360px 기준 */
  header {
    width: 89%;
    height: 11.1vw;
    /*40px*/
    padding: 1.38vw 5.5vw;
    /*5px 20px*/
    position: fixed;
    background-color: #ba1822;
    border-bottom: 1px solid #222222; }
    header > #headBox {
      width: 100%;
      height: 11.1vw;
      /*40px*/ }
  #banner {
    display: none; }
  /*------------small box--------------------*/
  h1 {
    width: 11.6%;
    /*42px*/
    height: 11.1vw;
    /*40px*/
    position: absolute;
    z-index: 300;
    margin-left: 38.8%;
    /*140px*/
    font-size: 0; }
    h1 > a {
      width: 100%;
      height: 100%;
      display: block;
      background-image: url("../img/all/header/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
  #headBox > #gnb {
    width: 89%;
    /*320px*/
    height: 13.8vw;
    /*50px*/
    padding-top: 1.9vw;
    /*7px*/
    position: absolute;
    z-index: 200; }
    #headBox > #gnb > h2 {
      width: 8.3%;
      /*30px*/
      height: 7.2vw;
      /*26px*/
      float: left; }
      #headBox > #gnb > h2 > i {
        width: 100%;
        height: 100%;
        font-size: 7.5vw;
        /*1.7rem*/
        display: block;
        color: #ffffff;
        text-align: center; }
      #headBox > #gnb > h2 > span {
        width: 0;
        height: 0;
        display: block;
        overflow: hidden; }
    #headBox > #gnb > #snsBox {
      width: 44.4%;
      /*160px*/
      height: 8.3vw;
      /*30px*/
      float: left;
      margin-top: 97.2vw;
      /*300px*/
      margin-left: -5.5%;
      position: absolute;
      z-index: 500;
      padding: 0 13.9%;
      /*0 50px*/
      left: -100%; }
      #headBox > #gnb > #snsBox > li {
        width: 25%;
        /*40px*/
        height: 100%;
        margin-right: 12%;
        /*20px*/
        float: left; }
        #headBox > #gnb > #snsBox > li.round {
          display: none; }
        #headBox > #gnb > #snsBox > li.navercafe {
          margin-right: 0; }
        #headBox > #gnb > #snsBox > li.facebook > a {
          background-image: url("../img/all/header/sns_01.png"); }
        #headBox > #gnb > #snsBox > li.youtube > a {
          background-image: url("../img/all/header/sns_02.png"); }
        #headBox > #gnb > #snsBox > li.navercafe > a {
          background-image: url("../img/all/header/sns_03.png"); }
        #headBox > #gnb > #snsBox > li > a {
          width: 75%;
          /*30px*/
          height: 100%;
          padding: 0 12.5%;
          /*0 5px*/
          background-size: contain; }
          #headBox > #gnb > #snsBox > li > a > span {
            width: 0;
            height: 0;
            display: block;
            overflow: hidden; }
    #headBox > #gnb > #searchBox {
      width: 8.3%;
      /*30px*/
      height: 7.2vw;
      /*26px*/
      float: right; }
      #headBox > #gnb > #searchBox > button {
        width: 100%;
        height: 100%;
        background-color: transparent; }
        #headBox > #gnb > #searchBox > button > span {
          width: 0;
          height: 0;
          display: block;
          font-size: 0; }
        #headBox > #gnb > #searchBox > button > i {
          width: 100%;
          height: 100%;
          font-size: 7.5vw;
          /*1.7rem*/
          color: #ffffff;
          text-align: center; }
    #headBox > #gnb > #sitemebBox {
      width: 72.2%;
      /*260px*/
      height: 8.3vw;
      /*30px*/
      float: left;
      margin-top: 111.1vw;
      /*400px*/
      margin-left: -5.5%;
      position: absolute;
      z-index: 500;
      left: -100%; }
      #headBox > #gnb > #sitemebBox > li {
        width: 38.4%;
        /*100px*/
        height: 100%;
        padding-left: 7.7%;
        /*20px*/
        padding-right: 3.84%;
        /*10px*/
        float: left; }
        #headBox > #gnb > #sitemebBox > li:nth-child(2) {
          width: 0;
          height: 0;
          display: none;
          overflow: hidden;
          font-size: 0; }
        #headBox > #gnb > #sitemebBox > li:last-child {
          padding-left: 3.84%;
          /*10px*/
          padding-right: 7.7%;
          /*20px*/ }
        #headBox > #gnb > #sitemebBox > li > a {
          width: 100%;
          height: 100%;
          display: block;
          font-size: 5.8vw;
          /*1.3rem*/
          text-align: center;
          border-radius: 5%;
          background-color: #bdc4c4; }
    #headBox > #gnb > #mainBox {
      width: 72.2%;
      /*260px*/
      height: 416.4vw;
      /*1500px*/
      background-color: #ffffff;
      float: left;
      margin-top: -3.28vw;
      /*10px*/
      margin-left: -6.25%;
      /*20px*/
      position: absolute;
      z-index: 300;
      left: -100%; }
      #headBox > #gnb > #mainBox > li {
        width: 80%;
        /*208px*/
        height: auto;
        /*50px*/
        padding: 10% 10% 0;
        /* 0 26px */ }
        #headBox > #gnb > #mainBox > li.endBox {
          height: 2%; }
        #headBox > #gnb > #mainBox > li > i {
          width: 11%;
          /*22.8px*/
          height: 100%;
          font-size: 6.6vw;
          /*1.5rem*/
          text-align: center;
          color: #111111;
          display: block;
          float: right;
          margin-top: 5%; }
        #headBox > #gnb > #mainBox > li > a {
          width: 100%;
          height: 9.23vw;
          /*24px*/
          font-size: 6.6vw;
          /*1.5rem*/
          color: #111111; }
          #headBox > #gnb > #mainBox > li > a:hover {
            border-bottom: 2px solid #ba1822; }
        #headBox > #gnb > #mainBox > li > .sub_menu {
          width: 100%;
          height: auto; }
          #headBox > #gnb > #mainBox > li > .sub_menu > li {
            width: 100%;
            height: 6.9vw;
            /*25px*/
            font-size: 4.4vw;
            /*1rem*/ }
  /* PhotoShop 360px 기준 */
  #sub_menu {
    width: 94.4vw;
    /*340px*/
    height: 73.6vw;
    /*265px*/
    padding-top: 19.4vw;
    /*70px*/
    border-bottom: 2px solid #bdc4c4; }
    #sub_menu > h2 {
      width: 27.7vw;
      /*100px*/
      height: 6.9vw;
      /*25px*/
      margin-top: 2.7vw;
      /*10px*/
      padding-left: 6.9vw;
      /*25px*/
      font-size: 5.3vw;
      /*1.2rem*/
      font-weight: bold;
      color: #ba1822; }
    #sub_menu > ul {
      height: 26.4vw;
      /*95px*/
      margin-top: 11.1vw;
      /*40px*/ }
      #sub_menu > ul > li {
        width: calc(100% / 3);
        height: 8.3vw;
        /*30px*/
        float: left; }
        #sub_menu > ul > li:nth-child(2) > a {
          color: #ba1822; }
        #sub_menu > ul > li > a {
          font-size: 3.5vw;
          /*0.8rem*/
          text-align: center;
          font-weight: bold;
          color: #222222; }
      #sub_menu > ul > .nav_title {
        width: calc(100% - 6.9vw);
        height: 9.7vw;
        /*35px*/
        padding-left: 6.9vw;
        /* 25px*/
        font-size: 4.4vw;
        /*1rem*/
        font-weight: bold;
        color: #222222; }
  #sub_menu > .nav_box02 {
    height: 18vw;
    /*65px*/
    margin-top: 5.5vw;
    /*20px*/ }
  /* PhotoShop 360px 기준 */
  /* 정렬 bar */
  article {
    width: 94.4vw;
    /*340px*/
    height: 188.8vw;
    /*680px*/
    padding-top: 1.3vw;
    /*5px*/ }
    article > .article_box01 {
      width: calc(100% - 11.1vw);
      height: 5.5vw;
      /*20px*/
      float: right;
      padding: 1.3vw 5.5vw; }
      article > .article_box01 > li {
        width: 25%;
        height: 100%;
        font-size: 3vw;
        /*0.7rem*/
        float: left;
        text-align: center;
        line-height: 200%; }
        article > .article_box01 > li:first-child {
          color: #ba1822;
          font-weight: bold;
          /*border-bottom: 1px solid $mainRed;*/ }
  /* product */
  article > .article_box02 {
    width: 100%;
    /*670px*/
    height: 177.7vw;
    /*640px*/
    margin-top: 8.3vw;
    /*30px*/ }
    article > .article_box02 > li {
      width: 50%;
      height: 41.6vw;
      /*150px*/
      float: left;
      padding-top: 2.6vw;
      /*10px*/ }
      article > .article_box02 > li > dl {
        width: 100%;
        height: 100%; }
        article > .article_box02 > li > dl > .img_box {
          width: 100%;
          height: 26vw;
          /*100px*/
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain; }
          article > .article_box02 > li > dl > .img_box > span {
            width: 0;
            height: 0;
            display: none;
            font-size: 0; }
        article > .article_box02 > li > dl > .title_box {
          width: 100%;
          height: 5.5vw;
          /*20px*/
          margin-top: 2.6vw;
          /*10px*/
          font-size: 3.5vw;
          /*0.8rem*/
          line-height: 150%;
          text-align: center;
          font-weight: bold; }
        article > .article_box02 > li > dl > .money_box {
          width: 100%;
          height: 4.1vw;
          /*15px*/
          font-size: 3.5vw;
          /*0.8rem*/
          text-align: center; }
          article > .article_box02 > li > dl > .money_box > i {
            width: auto;
            height: 100%;
            font-size: 3vw;
            /*0.7rem*/
            line-height: 150%;
            margin-right: 1.3vw;
            /*5px*/ }
  /* .article_box02>li design */
  article > .article_box02 .pro_1 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_01.png"); }
  article > .article_box02 .pro_2 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_02.png"); }
  article > .article_box02 .pro_3 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_03.png"); }
  article > .article_box02 .pro_4 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_04.png"); }
  article > .article_box02 .pro_5 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_05.png"); }
  article > .article_box02 .pro_6 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_06.png"); }
  article > .article_box02 .pro_7 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_07.png"); }
  article > .article_box02 .pro_8 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_08.png"); }
  /* Photoshop 360px */
  #footer {
    width: 86%;
    /*310px*/
    height: 39vw;
    /*140px*/
    background-color: #bdc4c4;
    padding: 8.3vw 7% 8.3vw;
    /*30px 25px 30px*/
    overflow: hidden; }
    #footer > #footBox {
      width: 100%;
      height: 39vw;
      /*140px*/ }
  /*------------small box--------------------*/
  #footBox > #persnal {
    display: none; }
  #footBox > #footAll {
    width: 100%;
    height: 100%; }
    #footBox > #footAll > #nestleImg {
      width: 100%;
      height: 45%;
      background-image: url("../img/all/footer/nestle_black.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    #footBox > #footAll > address {
      width: 90%;
      height: 45%;
      margin-top: 8%;
      margin-left: 5%;
      font-size: 3.2vw;
      /*0.9rem*/ }
      #footBox > #footAll > address > p {
        display: none; }
  #footBox > #footImg {
    display: none; } }

@media screen and (min-width: 680px) and (max-width: 959px) {
  /* PhotoShop 768px 기준 */
  header {
    width: 100%;
    height: 12.3vw;
    /*108px*/
    position: fixed;
    z-index: 1000;
    background-color: #ba1822;
    border-bottom: 1px solid #222222;
    box-sizing: border-box; }
    header > #headBox {
      width: 87.5%;
      /*675px*/
      height: 10.5vw;
      /*94px*/
      padding: 1.3vw 6.25% 0.5vw;
      /*4px*/ }
  /*------------small box--------------------*/
  h1 {
    width: 10.6%;
    /*82px*/
    height: 10.4vw;
    /*80px*/
    margin-left: 39%;
    /*300px*/
    background-image: url("../img/all/header/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 0;
    position: absolute;
    z-index: 300; }
  #gnb {
    width: 87.5%;
    /*675px*/
    height: 3vw;
    /*23px*/
    /*background-color:darkcyan; */
    position: absolute;
    z-index: 200;
    margin-top: 3.6vw;
    /*28px*/ }
    #gnb > h2 {
      width: 6%;
      /*40.5px*/
      height: 100%;
      /*23px*/
      float: left; }
      #gnb > h2 > i {
        font-size: 3vw;
        /*1.43rem*/
        color: #ffffff;
        float: left; }
      #gnb > h2 > span {
        width: 19.1%;
        /*9px*/
        height: 34.7%;
        /*8px*/
        display: block;
        float: left;
        margin-left: 29.6%;
        /*12px*/
        margin-top: 1.1vw;
        /*8px*/
        background-color: #ffffff;
        border-radius: 50%; }
    #gnb > #snsBox {
      width: 44.4%;
      /*300px*/
      height: 6vw;
      /*40px*/
      float: left;
      margin-top: 66.7%;
      /*450px*/
      position: absolute;
      z-index: 500;
      left: -100%; }
      #gnb > #snsBox > li {
        width: 13.3%;
        /*40px*/
        height: 100%;
        margin-right: 13.3%;
        /*40px*/
        float: left; }
        #gnb > #snsBox > li.round {
          display: none; }
        #gnb > #snsBox > li:last-child {
          margin-right: 0; }
        #gnb > #snsBox > li.facebook > a {
          background-image: url("../img/all/header/sns_01.png"); }
        #gnb > #snsBox > li.youtube > a {
          background-image: url("../img/all/header/sns_02.png"); }
        #gnb > #snsBox > li.navercafe > a {
          background-image: url("../img/all/header/sns_03.png"); }
        #gnb > #snsBox > li > a {
          width: 75%;
          /*30px*/
          height: 100%;
          padding: 0 12.5%;
          /*0 5px*/
          background-size: contain; }
          #gnb > #snsBox > li > a > span {
            width: 0;
            height: 0;
            display: block;
            overflow: hidden; }
    #gnb > #searchBox {
      width: 6.1vw;
      /*47px*/
      height: 100%;
      /*23px*/
      float: left; }
      #gnb > #searchBox > button {
        width: 100%;
        height: 100%;
        background-color: transparent; }
        #gnb > #searchBox > button > span {
          width: 0;
          height: 0;
          display: none;
          overflow: hidden; }
        #gnb > #searchBox > button > i {
          font-size: 3vw;
          /*1.43rem*/
          color: #ffffff; }
    #gnb > #sitemebBox {
      width: 14.8%;
      /*100px*/
      height: 56.5%;
      /*13px*/
      margin-top: 0.3vw;
      /*2px*/
      float: right; }
      #gnb > #sitemebBox > li {
        height: 100%;
        margin-right: 10%;
        /*10px*/
        float: left; }
        #gnb > #sitemebBox > li:nth-child(1) {
          width: 35%;
          /*35px*/ }
        #gnb > #sitemebBox > li:nth-child(2) {
          width: 8%;
          /* 8px*/ }
        #gnb > #sitemebBox > li:nth-child(2) > span {
          width: 100%;
          /*9px*/
          height: 61.5%;
          /*8px*/
          display: block;
          float: left;
          font-size: 0;
          margin-top: 0.8vw;
          /*4px*/
          background-color: #ffffff;
          border-radius: 50%; }
        #gnb > #sitemebBox > li:nth-child(3) {
          width: 30%;
          /*30px*/
          margin-right: 0; }
        #gnb > #sitemebBox > li > a {
          width: 100%;
          height: 100%;
          display: block;
          font-size: 1.875vw;
          /*0.9rem*/
          color: #ffffff;
          text-align: center; }
    #gnb > #mainBox {
      width: 44.4%;
      /*300px*/
      height: 195vw;
      /*1500px*/
      background-color: #ffffff;
      float: left;
      overflow: scroll;
      margin-top: -4.9vw;
      /*33px*/
      margin-left: -7.1%;
      /*48px*/
      position: absolute;
      z-index: 300;
      left: -100%; }
      #gnb > #mainBox > li {
        width: 86.7%;
        /*260px*/
        height: auto;
        /*60px*/
        padding: 5% 10%;
        /*25px 20px*/ }
        #gnb > #mainBox > li > i {
          width: 11%;
          /*33px*/
          height: 100%;
          /*14px*/
          font-size: 3.125vw;
          /*1.5rem*/
          text-align: center;
          color: #111111;
          display: block;
          float: right; }
        #gnb > #mainBox > li > a {
          width: 90%;
          height: 40%;
          /*24px*/
          font-size: 3.125vw;
          /*1.5rem*/
          color: #111111; }
          #gnb > #mainBox > li > a:hover {
            border-bottom: 2px solid #ba1822;
            box-sizing: border-box; }
        #gnb > #mainBox > li > .sub_menu {
          width: 100%;
          height: auto;
          padding-top: 5%; }
  /* PhotoShop 768px 기준 */
  #sub_menu {
    width: 87.2vw;
    /*670px*/
    height: 20.8vw;
    /*160px*/
    padding-top: 18.2vw;
    /*140px*/
    border-bottom: 2px solid #bdc4c4; }
    #sub_menu > h2 {
      width: 13vw;
      /*100px*/
      height: 3.25vw;
      /*25px*/
      font-size: 2.5vw;
      /*1.2rem*/
      font-weight: bold;
      color: #ba1822; }
    #sub_menu > ul {
      height: 3.25vw;
      /*25px*/
      margin-top: 6.5vw;
      /*50px*/ }
      #sub_menu > ul > li {
        width: 10.4vw;
        /*80px*/
        height: 100%;
        margin-right: 2.6vw;
        /*20px*/
        float: left; }
        #sub_menu > ul > li:nth-child(2) > a {
          color: #ba1822; }
        #sub_menu > ul > li > a {
          font-size: 1.875vw;
          /*0.9rem*/
          font-weight: bold;
          color: #222222; }
      #sub_menu > ul > .nav_title {
        font-size: 2vw;
        /*1rem*/
        font-weight: bold;
        color: #222222; }
  #sub_menu > .nav_box02 {
    margin-top: 3.25vw;
    /*25px*/ }
  /* PhotoShop 768px 기준 */
  /* 정렬 bar */
  article {
    width: 87.2vw;
    /*670px*/
    height: 84.6vw;
    /*650px*/
    padding-top: 1.5625vw;
    /*12px*/ }
    article > .article_box01 {
      width: 37.5vw;
      /*288px*/
      height: 1.8vw;
      /*14px*/
      float: right; }
      article > .article_box01 > li {
        width: 8.85vw;
        /*68px*/
        height: 100%;
        font-size: 1.6vw;
        /*0.8rem*/
        float: left;
        margin-right: 1.3vw;
        /*10px*/ }
        article > .article_box01 > li:first-child {
          width: 6.8vw;
          /*52px*/
          height: 100%;
          font-size: 1.6vw;
          /*0.8rem*/
          float: left;
          color: #ba1822;
          font-weight: bold; }
        article > .article_box01 > li:last-child {
          margin-right: 0; }
  /* product */
  article > .article_box02 {
    width: 87.2vw;
    /*670px*/
    height: 75.2vw;
    /*578px*/
    margin-top: 3.2vw;
    /*25px*/ }
    article > .article_box02 > li {
      width: calc(100% / 3);
      height: 34.5vw;
      /*265px*/
      float: left;
      padding-top: 3.125vw;
      /*24px*/ }
      article > .article_box02 > li > dl {
        width: 100%;
        height: 100%; }
        article > .article_box02 > li > dl > .img_box {
          width: 100%;
          height: 26vw;
          /*200px*/
          background-repeat: no-repeat;
          background-position: center center; }
          article > .article_box02 > li > dl > .img_box > span {
            width: 0;
            height: 0;
            display: none;
            font-size: 0; }
        article > .article_box02 > li > dl > .title_box {
          width: 100%;
          height: 3.2vw;
          /*25px*/
          margin-top: 2.6vw;
          /*20px*/
          font-size: 2vw;
          /*1rem*/
          text-align: center;
          font-weight: bold; }
        article > .article_box02 > li > dl > .money_box {
          width: 100%;
          height: 2.6vw;
          /*20px*/
          font-size: 2vw;
          /*1rem*/
          text-align: center; }
          article > .article_box02 > li > dl > .money_box > i {
            width: auto;
            height: 100%;
            font-size: 1.875vw;
            /*0.9rem*/
            line-height: 150%;
            margin-right: 1.3vw;
            /*10px*/ }
    article > .article_box02 > .pro_7 {
      display: none; }
    article > .article_box02 > .pro_8 {
      display: none; }
  /* .article_box02>li design */
  article > .article_box02 .pro_1 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_01.png"); }
  article > .article_box02 .pro_2 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_02.png"); }
  article > .article_box02 .pro_3 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_03.png"); }
  article > .article_box02 .pro_4 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_04.png"); }
  article > .article_box02 .pro_5 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_05.png"); }
  article > .article_box02 .pro_6 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_06.png"); }
  article > .article_box02 .pro_7 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_07.png"); }
  article > .article_box02 .pro_8 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_08.png"); }
  /* PhotoShop 768px 기준 */
  #footBox {
    width: 68.75%;
    /*528px*/
    height: 12.5vw;
    /*96px*/
    background-color: #bdc4c4;
    padding: 3.6vw 15.625% 4.2vw;
    /*28px 120px 32px*/ }
    #footBox > #footBox {
      width: 100%;
      height: 100%; }
  /*------------small box--------------------*/
  #footBox > #persnal {
    width: 81.4%;
    /*430px*/
    height: 16.7%;
    /*16px*/
    margin-top: 1.3vw;
    /*10px*/
    float: left; }
    #footBox > #persnal > li {
      height: 100%;
      float: left;
      margin-right: 0.9%;
      /*4px*/ }
      #footBox > #persnal > li:nth-child(1) {
        width: 31.6%;
        /*136px*/ }
      #footBox > #persnal > li:nth-child(2) {
        width: 15.8%;
        /*68px*/ }
      #footBox > #persnal > li:nth-child(3) {
        width: 27.4%;
        /*118px*/ }
      #footBox > #persnal > li:nth-child(4) {
        width: 15.1%;
        /*65px*/
        margin-right: 0; }
      #footBox > #persnal > li > a {
        width: calc(100% - 8px);
        font-size: 1.6vw;
        /*0.8rem*/
        float: left; }
      #footBox > #persnal > li > span {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin-top: 0.8vw;
        /*6px*/
        background-color: #222222;
        display: block;
        font-size: 0;
        float: left; }
  #footBox > #footAll {
    width: 70.8%;
    /*374px*/
    height: 62.5%;
    /*60px*/
    float: left;
    margin-top: 1.3vw;
    /*10px*/ }
    #footBox > #footAll > #nestleImg {
      width: 28.1%;
      /*105px*/
      height: 80%;
      /*48px*/
      float: left;
      background-image: url("../img/all/footer/nestle_black.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    #footBox > #footAll > address {
      width: 66.8%;
      /*250px*/
      height: 96.7%;
      /*58px*/
      float: left;
      margin-left: 5.1%;
      font-size: 1.6vw;
      /*0.8rem*/ }
      #footBox > #footAll > address > p {
        display: none; }
  #footBox > #footImg {
    width: 25.3%;
    /*134px*/
    height: 100%;
    /*96px*/
    float: right;
    margin-top: -26px; }
    #footBox > #footImg > #serviceImg {
      width: 100%;
      height: 45.8%;
      /*44px*/ }
    #footBox > #footImg > #awardsImg {
      width: 69.4%;
      /*93px*/
      height: 50%;
      /*48px*/
      padding-top: 4%;
      /*4px*/
      padding-left: 15%;
      /*20px*/ }
    #footBox > #footImg > div > img {
      width: 100%;
      height: 100%; } }

@media screen and (min-width: 960px) {
  /* PhotoShop 1400px 기준 */
  header {
    width: 100%;
    height: 170px;
    background-color: #ffffff;
    border-bottom: 10px solid #ba1822;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    overflow: hidden; }
    header > #headBox {
      width: 860px;
      height: 140px;
      padding: 10px 50px 0 50px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -480px;
      display: block;
      overflow: hidden; }
  /*------------small box--------------------*/
  header > #headBox > h1 {
    width: 90px;
    height: 90px;
    background-image: url("../img/all/header/logo.png");
    margin-top: 20px;
    position: absolute;
    z-index: 500;
    left: 50%;
    margin-left: -45px;
    font-size: 0; }
    header > #headBox > h1 > a {
      width: 100%;
      height: 100%;
      display: block; }
  header > #headBox > #gnb {
    width: 860px;
    height: 106px; }
    header > #headBox > #gnb > h2 {
      width: 0;
      height: 0;
      display: block;
      overflow: hidden; }
      header > #headBox > #gnb > h2 > * {
        display: none; }
    header > #headBox > #gnb > #snsBox {
      width: 92px;
      height: 20px;
      float: left; }
      header > #headBox > #gnb > #snsBox > li {
        width: 18px;
        height: 100%;
        float: left;
        margin-right: 5px; }
        header > #headBox > #gnb > #snsBox > li.round {
          width: 4px;
          height: 4px;
          background-color: #bdc4c4;
          border-radius: 50%;
          font-size: 0;
          margin-top: 8px; }
        header > #headBox > #gnb > #snsBox > li:last-child {
          margin-right: 0; }
        header > #headBox > #gnb > #snsBox > li:nth-child(1) > a {
          background-image: url("../img/all/header/sns_01.png"); }
        header > #headBox > #gnb > #snsBox > li:nth-child(3) > a {
          background-image: url("../img/all/header/sns_02.png"); }
        header > #headBox > #gnb > #snsBox > li:nth-child(5) > a {
          background-image: url("../img/all/header/sns_03.png"); }
        header > #headBox > #gnb > #snsBox > li > a {
          background-size: contain; }
        header > #headBox > #gnb > #snsBox > li > span {
          width: 0;
          height: 0;
          display: block;
          overflow: hidden; }
    header > #headBox > #gnb > #searchBox {
      width: 100px;
      height: 18px;
      float: left;
      border-bottom: 2px solid #bdc4c4;
      margin-left: 5px;
      padding-top: 2px; }
      header > #headBox > #gnb > #searchBox > button {
        width: 100%;
        height: 100%;
        background-color: transparent; }
        header > #headBox > #gnb > #searchBox > button > span {
          font-size: 0.75rem;
          color: #bdc4c4;
          float: left; }
        header > #headBox > #gnb > #searchBox > button > i {
          font-size: 0.75rem;
          /*22px*/
          color: #bdc4c4;
          float: right; }
    header > #headBox > #gnb > #sitemebBox {
      width: 100px;
      height: 10px;
      float: right;
      padding-top: 5px; }
      header > #headBox > #gnb > #sitemebBox > li {
        height: 100%;
        float: left;
        margin-right: 5px; }
        header > #headBox > #gnb > #sitemebBox > li:nth-child(1) {
          width: 40px; }
        header > #headBox > #gnb > #sitemebBox > li:nth-child(2) {
          width: 5px;
          height: 5px;
          margin-top: 8px; }
        header > #headBox > #gnb > #sitemebBox > li:nth-child(2) > span {
          width: 100%;
          height: 100%;
          background-color: #bdc4c4;
          display: block;
          border-radius: 50%;
          font-size: 0; }
        header > #headBox > #gnb > #sitemebBox > li:nth-child(3) {
          width: 45px;
          margin-right: 0; }
        header > #headBox > #gnb > #sitemebBox > li > a {
          width: 100%;
          height: 100%;
          display: block;
          font-size: 1rem;
          color: #222222; }
    header > #headBox > #gnb > #mainBox {
      width: 735px;
      height: 150px;
      float: left;
      margin-top: 84px;
      /*margin-left:-1px;*/
      padding: 5px 82px 0; }
      header > #headBox > #gnb > #mainBox > li {
        height: 30px;
        float: left; }
        header > #headBox > #gnb > #mainBox > li:nth-child(2) {
          width: 53px;
          margin-right: 100px; }
        header > #headBox > #gnb > #mainBox > li:nth-child(3) {
          width: 72px;
          margin-right: 260px; }
        header > #headBox > #gnb > #mainBox > li:nth-child(4) {
          width: 64px;
          margin-left: -20px; }
        header > #headBox > #gnb > #mainBox > li:nth-child(5) {
          width: 138px;
          float: right; }
        header > #headBox > #gnb > #mainBox > li > i {
          width: 0;
          height: 0;
          display: block;
          overflow: hidden; }
        header > #headBox > #gnb > #mainBox > li > a {
          font-size: 1.25rem;
          color: #222222; }
          header > #headBox > #gnb > #mainBox > li > a.red {
            color: #ba1822; }
        header > #headBox > #gnb > #mainBox > li > .sub_menu {
          width: 100%;
          height: auto;
          /*padding-top:5px;*/ }
          header > #headBox > #gnb > #mainBox > li > .sub_menu > li {
            width: 100%;
            height: auto; }
  /* dolce_sub01_nav.css */
  #sub_menu {
    width: 815px;
    height: 160px;
    padding-top: 204px;
    padding-left: 45px;
    border-bottom: 2px solid #bdc4c4; }
    #sub_menu > h2 {
      width: 100px;
      height: 25px;
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      color: #ba1822; }
    #sub_menu > ul {
      width: 100%;
      height: 25px;
      margin-top: 50px; }
      #sub_menu > ul > li {
        width: 80px;
        height: 100%;
        margin-right: 40px;
        float: left; }
        #sub_menu > ul > li:nth-child(2) > a {
          color: #ba1822; }
        #sub_menu > ul > li > a {
          font-size: 0.9rem;
          font-weight: bold;
          color: #222222; }
      #sub_menu > ul > .nav_title {
        font-size: 1rem;
        font-weight: bold;
        color: #222222; }
  #sub_menu > .nav_box02 {
    margin-top: 25px; }
  /* 정렬 bar */
  article {
    width: 815px;
    height: 650px;
    padding-top: 12px; }
    article > .article_box01 {
      width: 288px;
      height: 14px;
      float: right; }
      article > .article_box01 > li {
        width: 64px;
        height: 100%;
        font-size: 0.8rem;
        float: left;
        margin-right: 13px; }
        article > .article_box01 > li:first-child {
          width: 52px;
          height: 100%;
          font-size: 0.8rem;
          float: left;
          color: #ba1822;
          font-weight: bold; }
        article > .article_box01 > li:last-child {
          margin-right: 0; }
  /* product */
  article > .article_box02 {
    width: 815px;
    height: 558px;
    margin-top: 25px; }
    article > .article_box02 > li {
      width: 25%;
      height: 255px;
      float: left;
      padding-top: 24px; }
      article > .article_box02 > li > dl {
        width: 100%;
        height: 100%; }
        article > .article_box02 > li > dl > .img_box {
          width: 100%;
          height: 200px;
          background-repeat: no-repeat;
          background-position: center center; }
          article > .article_box02 > li > dl > .img_box > span {
            width: 0;
            height: 0;
            display: none;
            font-size: 0; }
        article > .article_box02 > li > dl > .title_box {
          width: 100%;
          height: 25px;
          margin-top: 20px;
          font-size: 1rem;
          text-align: center;
          font-weight: bold; }
        article > .article_box02 > li > dl > .money_box {
          width: 100%;
          height: 20px;
          font-size: 1rem;
          text-align: center; }
          article > .article_box02 > li > dl > .money_box > i {
            width: auto;
            height: 100%;
            font-size: 0.9rem;
            line-height: 150%;
            margin-right: 10px; }
  /* .article_box02>li design */
  article > .article_box02 .pro_1 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_01.png"); }
  article > .article_box02 .pro_2 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_02.png"); }
  article > .article_box02 .pro_3 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_03.png"); }
  article > .article_box02 .pro_4 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_04.png"); }
  article > .article_box02 .pro_5 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_05.png"); }
  article > .article_box02 .pro_6 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_06.png"); }
  article > .article_box02 .pro_7 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_07.png"); }
  article > .article_box02 .pro_8 > dl > .img_box {
    background-image: url("../img/sub02_tab01/product_08.png"); }
  /* PhotoShop 1400px 기준 */
  #footer {
    width: 100%;
    height: 250px;
    background-color: #bdc4c4;
    margin-top: 50px; }
    #footer > #footBox {
      width: 790px;
      height: 125px;
      margin: 0 auto;
      padding-top: 50px; }
  /*------------small box--------------------*/
  #footBox > #persnal {
    width: 590px;
    height: 16px;
    float: left;
    margin-left: 80px; }
    #footBox > #persnal > li {
      height: 100%;
      float: left;
      /*padding-right:20px;*/ }
      #footBox > #persnal > li:nth-child(1) {
        width: 168px; }
      #footBox > #persnal > li:nth-child(2) {
        width: 80px; }
      #footBox > #persnal > li:nth-child(3) {
        width: 145px; }
      #footBox > #persnal > li:nth-child(4) {
        width: 80px;
        margin-right: 0; }
      #footBox > #persnal > li > a {
        width: calc(100% - 8px);
        font-size: 1rem;
        float: left; }
      #footBox > #persnal > li > span {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin-top: 8px;
        background-color: #222222;
        display: block;
        font-size: 0;
        float: left; }
  #footBox > #footAll {
    width: 570px;
    height: 78px;
    float: left;
    margin-top: 25px;
    margin-left: 40px; }
    #footBox > #footAll > #nestleImg {
      width: 136px;
      height: 60px;
      float: left;
      background-image: url("../img/all/footer/nestle_black.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    #footBox > #footAll > address {
      width: 400px;
      height: 70px;
      float: left;
      margin-left: 30px;
      font-size: 0.8rem; }
      #footBox > #footAll > address > p {
        width: 100%;
        height: auto; }
  #footBox > #footImg {
    width: 173px;
    height: 125px;
    float: right;
    margin-top: -12px; }
    #footBox > #footImg > #serviceImg {
      width: 100%;
      height: 58px; }
    #footBox > #footImg > #awardsImg {
      width: 121px;
      height: 63px;
      padding-top: 10px;
      padding-left: 26px; }
    #footBox > #footImg > div > img {
      width: 100%;
      height: 100%; } }
