/* dolce_sub01_article.css */

/* 정렬 bar */
article{width: 815px; height: 650px; padding-top: 12px;
    >.article_box01 {width: 288px; height: 14px; float:right;
        >li{width: 78px; height: 100%; font-size: 0.8rem; float:left;
            &:first-child{width: 52px; height: 100%; font-size: 0.8rem; float:left;}
        }
    }
}

article>ul>li>.sns_bar{width: 10px; height:100%; background-image: url("../img/header/dot.png"); float:left; display: block; background-repeat: no-repeat; background-position: center center; margin-right:3px;}

/* product */
article>.article_box02{width: 815px; height: 558px;margin-top:25px;
    >li{float:left;}
}

/* .article_box02>li size */
article>.article_box02{
    >li{
        &:nth-child(1){height: 282px; margin-right:13px;}
        &:nth-child(2){height: 282px; margin-right:13px;}
        &:nth-child(3){height: 282px; margin-right:13px;}
        &:nth-child(4){height: 282px;}
        &:nth-child(5){height: 275px; margin-left:13px;}
        &:nth-child(6){height: 275px; margin-left:13px;}
        &:nth-child(7){height: 275px; margin-left:13px;}
        &:nth-child(8){height: 275px;}
        &:nth-child(4n+1){width: 185px;}
        &:nth-child(4n+2){width: 200px;}
        &:nth-child(4n+3){width: 197px;}
        &:nth-child(4n){width: 178px;}
    }//li
}//article>.article_box02


/* .article_box02>li design */
article>.article_box02{
    >li{
        &:nth-child(1)>a{background-image: url("../img/article/product_01.png");}
        &:nth-child(2)>a{background-image: url("../img/article/product_02.png");}
        &:nth-child(3)>a{background-image: url("../img/article/product_03.png");}
        &:nth-child(4)>a{background-image: url("../img/article/product_04.png");}
        &:nth-child(5)>a{background-image: url("../img/article/product_05.png");}
        &:nth-child(6)>a{background-image: url("../img/article/product_06.png");}
        &:nth-child(7)>a{background-image: url("../img/article/product_07.png");}
        &:nth-child(8)>a{background-image: url("../img/article/product_08.png");}
    }//li
}//article>.article_box02
