/* dolce_sub01_nav.css */

#sub_menu{width: 815px; height: 160px; padding-top:204px; padding-left:45px; border-bottom: $bottomStyle;
    >h2{width: 100px;height: 25px; margin-right: 40px; @include bic_title;}
    >ul{height: 25px;  margin-top:25px; font-size:$bicFont; font-weight:bold;}
}

/* nav_box 02 커피 카테고리 */
#sub_menu>.nav_box01{width: 100%; padding-top:40px;
    >*{width: 75px;height: 100%; margin-right: 40px; float:left;}
    >p{@include normal_text; color:$mainBlack;}
    >li>a{font-size:0.9rem;  font-weight:bold; color:$mainBlack;}
    >li:nth-child(4){width: 60px;}
}//#gnb>.nav_box01

/* nav_box 03 가격 */
#sub_menu>.nav_box02{width: 100%; 
    >*{width: 80px;height: 100%; margin-right: 40px; float:left;}
    >p{@include normal_text; color:$mainBlack;}
    >li>a{@include small_text; color:$mainBlack;}
}//#gnb>.nav_box02