 /* PhotoShop 1400px 기준 */

#artBox{width: 860px;height: 1430px; background-color:#fff;}

/*------------tabs box--------------------*/
#artBox>#tabs{width: 100%;/*860px*/ height:270px;
    >ul{width: 100%; height: 42px; 
        >li{ width: 132px; height: 100%; float:left; border: $artBStyle; box-sizing:border-box; 
            &:nth-child(1){ border-top-left-radius: 20% 50%; border-bottom:0; 
                >a{color:$mainRed;}
            }//li:nth-child(1)
            &:nth-child(2){ border-left:0px; border-bottom:$artBStyle;
                >a{color:$mainBlack;}
            }//li:nth-child(2)
            &:nth-child(3){width: 596px; border:0; border-bottom: $artBStyle;
                >span{width: 0; height: 0; display: block; font-size: 0;}
            }//li:nth-child(3)
            &.tabs_best{border-bottom:2px solid $mainRed;}
            &.tabs_new{border-bottom:0;}
            >a{font-size:150%; text-align:center; line-height: 150%;
                &.click_best{color: $mainBlack;}
                &.click_new{color: $mainRed;}
            }//a
        }//li
    }//ul
    >#bestBox{ width: 100%;/*860px*/ height: 180px; margin-top:38px;
        >dl{width: 150px; height: 100%; margin-right:27.5px; float:left; 
            &:nth-of-type(5){margin-right:0;}
            >dd{width: 100%; height: 145px; font-size:0;
                >span{width: 100%; height: 100%; display: block; background-size:595%; background-repeat: no-repeat;
                    background-image:url("../img/main/article/b_coffee.png");}
            }//dd
            >dt{width: 90%; height: 25px; padding-left:10%; 
                >.s_text{font-size:0.8rem; color:$mainGray; font-weight:bold;}
                >.b_text{font-size:1rem; color:$mainBlack; font-weight:bold;}
            }//dt
            &:nth-of-type(1)>dd>span{background-position: -6px -6px;}
            &:nth-of-type(2)>dd>span{background-position: -188px -5px;}
            &:nth-of-type(3)>dd>span{background-position: -365px -5px; background-size:580%;}
            &:nth-of-type(4)>dd>span{background-position: -560px -5px;}
            &:nth-of-type(5)>dd>span{background-position: -750px -5px;}
        }//dl
    }//#bestBox
    >#newBox{ width: 100%;/*860px*/ height: 180px; margin-top:38px;
        >dl{width: 150px; height: 100%; margin-right:27.5px; float:left; 
            &:nth-of-type(5){margin-right:0;}
            >dd{width: 100%; height: 145px; font-size:0;
                >span{width: 100%; height: 100%; display: block; font-size:0; background-size:595%; background-repeat: no-repeat;
                    background-image:url("../img/main/article/n_coffee.png");}
            }//dd
            >dt{width: 90%; height: 25px; padding-left:10%;
                >.s_text{font-size:0.8rem; color:$mainGray;}
                >.b_text{font-size:1rem; color:$mainBlack;}
            }//dt
            &:nth-of-type(1)>dd>span{background-position: -6px -6px;}
            &:nth-of-type(2)>dd>span{background-position: -188px -5px;}
            &:nth-of-type(3)>dd>span{background-position: -365px -5px; background-size:580%;}
            &:nth-of-type(4)>dd>span{background-position: -560px -5px;}
            &:nth-of-type(5)>dd>span{background-position: -750px -5px;}
        }//dl
    }//#newBox
}//#tabs

/*------------monthBox box--------------------*/
#artBox>#monthBox{width: 100%;/*860px*/ height:410px; margin-top:40px; 
    >dl{width: 100%; height: 100%; margin-right:40px;
        >dt{width: 132px; height: 42px; float:left; color:$mainRed;
            border: $artBStyle; border-bottom:0; border-top-left-radius: 20% 50%; box-sizing: border-box;
            font-size:1.1rem; font-weight: 600; text-align:center; line-height:200%; color: $mainBlack;
            &.mini_btn{width: 726px;  border:0; border-bottom: $artBStyle; 
                >a{width: 120px; height: 34px; display: block; background-color: $mainRed; float:right;
                    font-size: 1rem; line-height: 200%; color: $mainWhite;
                    >i{margin-left:4px; font-size: 0.9rem; line-height: 240%; color: $mainWhite; }
                }
            }//.mini_btn
        }//dt
        >dd{ width: 50%; height: 330px; float: left; margin-top: 20px;
            &.img_box{background-image:url("../img/main/article/month_img.png"); 
                background-size: cover; background-position: center center;}
            &.centens_box{/*border: $artBStyle; box-sizing: border-box;*/ 
                >dl{width: 360px; height: 230px; padding: 50px 35px; /*background-color: rgba($mainBlack, 0.05);*/
                    background-image:url("../img/main/article/month_text.png"); background-size: cover;
                    >dt{font-size:1.2rem; color: $mainRed; font-weight: bold;}
                    >.mon_text_box{margin-top: 30px; font-size: 1rem; color: $mainBlack;}
                    >.mon_more_box{margin-top: 76px; float:right; font-size: 1rem; font-weight: bold; color: $mainRed;
                        >i{margin-left: 5px; font-size: 1rem; line-height: 160%; color: $mainRed;}
                    }
                }//dl 
            }//.centens_box
        }//dd
    }//dl
}//#monthBox


/*------------machineBox box--------------------*/
#artBox>#machineBox{width: 100%; height: 390px; margin-top:40px; 
    >.mac_list{width: 280px; height: 390px; float: left; 
        >li{width: 140px; height: 130px; float: left; 
            background-size: contain; background-repeat: no-repeat; background-position: center center;
            >a{width: 100%; height: 100%; display: block; font-size: 0; border: $artGStyle; box-sizing: border-box;
                &:hover{background-color: rgba($mainRed, 0.9); font-size: 1.5rem; color: $mainWhite; 
                    text-align: center; line-height: 500%;
                }//&:hover
            }//a
        }//li
    }//.mac_list
    >div{width: 580px; height: 390px; float: left; border: $artRStyle; box-sizing: border-box;
        background-repeat: no-repeat; background-position: center center; background-size: contain;
        >.mac_text_box{width: calc(100% - 50px); height: 60px; background-color: rgba($mainBlack, 0.8); 
            margin-top: 290px; padding: 20px 25px;
            >.mac_title{width: 360px; height: 65px; float: left; margin-right: 30px;
                >dt{width: auto; height: 18px; font-size: 1.125rem; color: $mainWhite; font-weight: bold;}
                >dd{width: 100%; height: 35px; margin-top: 10px; font-size: 0.9rem; color: $mainWhite;}
            }//.mac_title
            >.mac_color{width: 130px; height: 65px; float: left; 
                >dt{width: auto; height: 18px; font-size: 1.125rem; color: $mainWhite; font-weight: bold;}
                >dd{width: 35px; height: 35px; float: left; margin-top: 10px; margin-right: 10px; 
                    &:last-child{margin-right: 0;}
                        >button{width: 100%; height: 100%; font-size: 0; cursor: pointer; 
                            &.remove_style{border: 0;}
                            &.add_style{border: $artWStyle;}
                    }//button
                }//dd
            }//.mac_color
        }//.mac_text_box
    }//div
    
}//#machineBox



/* machineBox design */
.mac_list_c01{background-image: url("../img/main/article/picol_rc_listver.jpg");}
.mac_list_c02{background-image: url("../img/main/article/mini_wb_listver.jpg");}
.mac_list_c03{background-image: url("../img/main/article/stell_pb_listver.jpg");}
.mac_list_c04{background-image: url("../img/main/article/jobia_r_listver.jpg");}
.mac_list_c05{background-image: url("../img/main/article/drop_ds_listver.jpg");}
.mac_list_c06{background-image: url("../img/main/article/jinio_r_listver.jpg");}


#picol{background-image: url("../img/main/article/picol_rc_pcver.jpg");
    &.picol_b{background-image : url("../img/main/article/picol_b_pcver.jpg")}
}
.pi_rc{background-color: #791517; border: $artWStyle;}
.pi_b{background-color: #212121;}


#mini{background-image: url("../img/main/article/mini_wb_pcver.jpg");
    &.mini_r{background-image: url("../img/main/article/mini_r_pcver.jpg");}
    &.mini_b{background-image: url("../img/main/article/mini_b_pcver.jpg");}
}
.mi_r{background-color: #eb2522;}
.mi_b{background-color: #212121;}
.mi_wb{background-image: linear-gradient(135deg, #212121 54%, #e6e6e6 46%); border: $artWStyle;}


#stell{background-image: url("../img/main/article/stell_pb_pcver.jpg");
    &.stell_gw{background-image: url("../img/main/article/stell_gw_pcver.jpg");}
    &.stell_ds{background-image: url("../img/main/article/stell_ds_pcver.jpg");}
}       
.st_gw{background-color: #e9e9e9;}
.st_ds{background-color: #3e4346;}
.st_pb{background-color: #1a1e21; border: $artWStyle;}


#jobia{background-image: url("../img/main/article/jobia_r_pcver.jpg");
    &.jobia_b{background-image: url("../img/main/article/jobia_b_pcver.jpg");}
}
.jo_r{background-color: #7c0308; border: $artWStyle;}
.jo_b{background-color: #212121;}


#drop{background-image: url("../img/main/article/drop_ds_pcver.jpg");
    &.drop_rm{background-image: url("../img/main/article/drop_rm_pcver.jpg");}
}
.dr_ds{background-color: #63686b; border: $artWStyle;}
.dr_rm{background-color: #c12236;}
    
#jinio{background-image: url("../img/main/article/jinio_r_pcver.jpg");
    &.jinio_b{background-image: url("../img/main/article/jinio_b_pcver.jpg");}
    &.jinio_s{background-image: url("../img/main/article/jinio_s_pcver.jpg");}
}
.ji_r{background-color: #b42632; border: $artWStyle;}
.ji_b{background-color: #222629;}
.ji_s{background-color: #b8b7b3;}
    



/*------------service box--------------------*/
#artBox>#serBox{width: 100%;/*860px*/ height:252px; margin-top:40px;
    >dl{width:410px; height: 100%;/*252px*/ float:left; margin-right:40px;
        >dt{width: 132px; height: 42px; float:left; color:$mainRed;
            border: $artBStyle; border-bottom:0; border-top-left-radius: 20% 50%;
            font-size:1.5rem; text-align:center; line-height:160%; color: $mainBlack;
            &.none{width: 273px;  border:0; border-bottom: $artBStyle; 
                >span{width: 0; height: 0; display: block; font-size: 0;}
            }//.none
            &.news_title{width:100%; border:0; text-align: center; font-size:1rem; font-weight: bold; line-height: 150%;}
            &.event_title{width:100%; border:0; text-align: center; font-size:1rem; font-weight: bold; line-height: 150%;}
        }//dt
        >dd{width: 100%; height: 174px; margin-top:20px; font-size:0; float:left;
            background-size:100%; background-repeat: no-repeat; background-position:center 55%;}
        >.none_box{display: none;}
    }//dl
    >#news>dd{background-image:url("../img/main/article/news_banner.png");}
    >#event{margin-right:0;
        >dd{background-image:url("../img/main/article/event_banner.png");}
    }
}//#artBox>#serBox