/* dolce_sub01_nav.css */

#join{width:815px; height: 90px; padding-left:45px; padding-top:204px;
    border-bottom:$bottomStyle;
    >h2{width: 150px; height: 25px;padding-top:40px; @include normal_text}
}//nav
