/* day_0331_footer.css */

#footer{width:100%; height:auto; background-color:#bdc4c4;}
#footer_box{width:790px; height:146px;margin:0 auto;position:relative; padding-top:44px;}

/* logo box */
#footer_box> #logo_box {width:790px; height:125px; position:absolute; z-index:10;}

#footer_box> #logo_box>ul>li{float:right;}
#footer_box> #logo_box>ul>li:first-child{width: 135px;height: 60px;background-image:url("../img/footer/logo_nestle.png");float:left; margin-top:32px;}
#footer_box> #logo_box>ul>.prize_box{width: 174px;height:auto;}
#footer_box> #logo_box>ul>.prize_box>ul{width: 174px;height: 100%;}
#footer_box> #logo_box>ul>.prize_box>ul>li{width: 100%;float:right;}
#footer_box> #logo_box>ul>.prize_box>ul>li:nth-child(1){ height: 58px;background-image:url("../img/footer/mark_01.png");}
#footer_box> #logo_box>ul>.prize_box>ul>li:nth-child(2){ height: 61px;background-image:url("../img/footer/mark_02.png"); background-repeat: no-repeat;margin-top:5px; margin-right: -52px;}



/* add box */
#footer_box> #add_box {width:427px; height:117px; margin-left:165px; position:absolute; z-index:12;}

#footer_box> #add_box>ul>.personal{width: 346px;height: 12px;background-image:url("../img/footer/personal.png"); margin-top:10px;margin-left: 44px;}
#footer_box> #add_box>ul>.add_box{width: 426px;height: 72px;background-image:url("../img/footer/add_box.png");margin-top:20px;}
