/* kerasys_main_menu.css */
/* photoshop 1024px*/

#left>#main_menu{ width: 19.5%;/*200px*/ height: 100%; border-right:2px #777 solid; float:left; 
    position:fixed; overflow: hidden; padding-left:4.8%;/*50px*/
    
    >#signin{width: 100%;/*130px*/ height: 1.5vw;/*16px*/ padding-top: 10%;/*100px*/ margin-left:5%;
        >.sign{width:70%; height: 100%; 
            >li{width: 35%; height: 100%;
                &:nth-child(1){float:left;}
                &:nth-child(2){width: 45%; float:right;}
                >a{font-size:0.7vw;/*0.85rem*/ font-weight: bold; text-align: center;}
            }
            }//.signin_02
        }//ul
  
    
    >h1{width: 76.9%;/*100px*/ height: 9.7vw;/*100px*/ margin-top: 4.85vw;/*50px*/
        >a{width: 100%; height: 100%; background-image: url("../jpg/logo.png"); background-size:90%; background-position:center center;}
    }//h1
    
    >#gnb{width: 76.9%;/*100px*/ height: auto; margin-top: 4.85vw;/*50px*/ margin-left:5%;
        >.main{width: 100%; height: 120px; margin: 0 auto; 
            >dt{ width: 100%; height: 20px; font-size:150%; color:#222; 
                background-position: center center; margin-top : 20% ; cursor: pointer;}//dt
            >dd{width: 100%; height: 50px;
                >ul{width: 100%; height: 80%; padding:10% 0;
                    >li{width: 100px; height: 40%; font-size:0.8vw;/*1rem*/ color:#222; cursor: pointer;
                        &:last-child{margin-top:5%; }
                    }//li
                }//ul
            }//dd
        }//ul
    }//#menu
    >#fm_s{width: 14.6%;/*100px*/ height:2.4vw;/*25px*/ /*margin-top: 14.6vw;*//*150px*/ position:fixed; bottom:3.5vw;/*25px*/
        // 위 메인 메뉴가 내려와도 움직임 없이 하기위해 fixed 사용 
        >form{ width: 100%; height: 100%;
            >felidset{ width: 100%; height: 100%;
                >select{ width:100%; height: 100%; font-size:100%; border:1px solid #111; padding:0 4%;
                    >optgroup{width: 80%; height: 100%; font-size:100%;}
                }
            }
        }
    }//#fm_s
        >.snsBox{width: 200px;/*130px*/ height: 4.88vw;/*50px*/  float: left;  position:fixed; bottom:4.5vw;/*25px*/ left:7.5%;
        >ul{width: 100%; height: 100%; 
            >li{width:calc(100% / 3); height: 100%; float: left;
                >a{width: 100%; height: 100%;
                    >i{font-size:2.2vw;color:#000;}
                }    
            }
        }// ul
    }// .snsBox
}//#left>#main_menu
