/* kerasys_design_main.css*/

html,body{width: 100%; height: 100%;}
#wrap{width: 100%; height:100%;}
#wrap>#left{width: 24.4%;/*250*/ height:100%; float:left; background-color:#fff;}
#wrap>#right{width: 75.6%;/*774px*/ height:100%; float:right;}


@import "header";
@import "container";
@import "footer";

